[2022-02-04 01:22] tsteur opened #571 "Can we avoid Matomo Standalone UI being blocked by Microsoft Defender SmartScreen"
refs https://github.com/matomo-org/matomo-for-wordpress/issues/339

see comment in https://github.com/matomo-org/matomo-for-wordpress/issues/339#issuecomment-1029342598

Goal of this issue is to confirm that by removing those parameters the UI is not fully blocked and people can still navigate to it. We can test this eg using Browserstack.

This would be a small workaround for  https://github.com/

[2022-02-04 10:48] Peaks1988 opened #572 "Tracking but no reports - Archive Warning with wrong date / timestamp"
Hello,
we currently have the issue that Real Time Visits are being tracked but no reports were generated.

We use Matomo for Wordpress.
In Matomo I get the Information, that archiving hasn’t been done in recent time.
I followed the following guide: https://matomo.org/faq/wordpress/matomo-for-wordpress-is-not-showing-any-statistics-not-archiving-how-do-i-fix-it/

Troubleshooting for archiving repor

[2022-02-07 12:21] #101 closed, assigned to nobody

[2022-02-07 12:23] braekling commented on #103
Resolved in 1.0.27. Release will be available today.

[2022-02-07 12:23] #103 closed, assigned to nobody

[2022-02-07 12:24] braekling commented on #99
Fix will be released in 1.0.27 later today. Thanks.

[2022-02-07 12:24] #99 closed, assigned to nobody

[2022-02-07 12:31] braekling commented on #104
Duplicate of #84

[2022-02-07 12:31] #104 closed, assigned to nobody

[2022-02-07 18:40] karan-t commented on #84
Hey, @Porro70 was this solved? We are facing a similar issue on our side.

[2022-02-07 21:26] mattmary opened #573 "Wrong script tag in google tag manager"

[2022-02-07 22:56] tsteur commented on #573
@mattmary moved this to the Matomo for WordPress issue tracker as  this is an issue in our code in https://github.com/matomo-org/matomo-for-wordpress/blob/4.6.0/classes/WpMatomo/TrackingCode/TrackingCodeGenerator.php#L158

[2022-02-08 02:08] justinvelluppillai commented on #573
Can this be closed here now then @tsteur @mattmary ?

[2022-02-08 02:14] tsteur commented on #573
@justinvelluppillai not sure what you mean? The issue is still a todo in Matomo for WordPress and would need to keep the issue open

[2022-02-08 02:51] justinvelluppillai commented on #573
Thanks I see 👍

[2022-02-08 06:55] caveman99 commented on #99
Thanks for incorporating the fix, i had it running as a local patch on a few multisites i manage. The 'official' Update is working fine here too. Thanks for providing this plugin!

[2022-02-08 07:47] braekling commented on #99
You are welcome and thanks again for your fix. Please also excuse the late update, I hope to be able to make more regular updates this year.

[2022-02-08 08:33] braekling commented on #84
I tested this several times, all user ID tracking options work on my own system.

Do you have some more details about your system? E.g., are you using a caching plugin which may cause that not all users get their "individual" tracking code?

Did you also check your tracking code? Is the user ID included as expected?

Of course, if users reject tracking or are using blockers, their user ID also can

[2022-02-08 08:35] braekling commented on #100
There is a setting to exclude specific user roles from tracking. Did you check if accidentally a role is excluded there? Can you also check if the tracking code is embedded for superadmins?

[2022-02-08 20:45] mattmary commented on #572
Hi @Peaks1988

Sorry to hear that you encounter some issue with our plugin.
It looks like you have one segment which contains an invalid internal date.

Could you delete your segments and create them back?

Feel free to edit the configuration value process_new_segments_from if you want custom dates to be included in the regenerated segments.

Kind regards

Mat

[2022-02-11 11:29] Peaks1988 commented on #572
Hey @mattmary ,

I just deleted my segments and after a few moments the reports and the graph for "All Visitors" showed up.
Creating and showing data for new segments does work as well.

Thank you very much for your quick help! 👍
Tobias

[2022-02-11 11:29] #572 closed

[2022-02-15 09:42] BCAUS-A opened #574 "Archiving issue"
Hey guys,

I have an archiving issue after the integration of Matomo plugin on WordPress. After trying all the options from the support page, the problem persists. It seems to be a communication error between the local server files and Matomo. No data is reporting since the installation yesterday. In the following, you can find the system report of Matomo and the debug log file of WordPress as att

[2022-02-15 19:04] mattmary commented on #574
hi @BCAUS-A

When you say this is communication error between the local server and matomo, do you have an example of this error?
Do you have any visits in your visitor log?
Kind regards

Mat

[2022-02-16 07:22] BCAUS-A commented on #574
Hey @mattmary,

thanks for your answer. I don’t know if this is a communication error. No, there is no visit in my visitor log.
A few hours after the installation, an archive file was created. Since then, no more updates have taken place.
I have no idea, what the issue is.
Do you need more informations?
Have a good day.

Alex

[2022-02-16 19:10] mattmary commented on #574
hi @BCAUS-A

if you have no visits maybe your tracking code is wrong.
please follow this faq to fix it https://matomo.org/faq/troubleshooting/faq_58/
Regarding your archiving problem, do you have an error message in matomo?
Kind regards

Mat

[2022-02-17 11:15] Jaimeapo opened #575 "403 error when trying to post custom JavaScript Variable"
I'm using Matomo 4.7.1
and when I'm trying to create a new Custom JavaScript Variable it doesn´t save any changes
seems to be a rights problem but I've been to create other kind of variables without problem.
<img width="1475" alt="image" src="https://user-images.githubusercontent.com/2892389/154470306-b54b9fa0-ee4e-4c38-b2e8-8718ad9dfaf6.png">

[2022-02-17 18:59] mattmary opened #576 "403 errors with ithemes security"
the links which lead to matomo (reporting, tag manager) generate a 403 error when itheme security is enabled.
the possible responsible feature is the one which change the admin url.

[2022-02-24 17:33] mcguffin opened #577 "Multisite: white screen when updating some site options in network admin"
When updating some site options in the network admin on a multisite a white screen appears.
No further errors, HTTP returns status `200`.

**Reproduction:**
 - WordPress Multisite setup
 - Matomo is activated on the main blog
 - Edit a blog, where Matomo is *not* active.
 - Change Home, SiteURL, Blogname, Timezone or all of them together
 - Hit the Save-Button …
 - … White Screen

My Theory:
Matom

[2022-02-24 20:39] #341 closed

[2022-02-27 13:24] robertoschwald opened #106 "Add integration to GDPR plugin cookies"
It would be great if this plugin could support GDPR plugin cookies by letting admins enter cookie names and values which cause the tracking to work or not.
This feature is available in other solutions, where you can enter a cookie name/value to control the tracking.
Only if the given cookie value is received from the browser, tracking is active.
This has mainly 2 advantages:
1. You can control tra

[2022-02-28 01:46] mattmary opened #578 "enable the custom logo feature"
for now this feature is disabled in https://github.com/matomo-org/matomo-for-wordpress/blob/develop/config/common.config.ini.php#L18.
we need a feature in Matomo for WordPress to customise the path where the logo should be uploaded to and also an option to change the URL to the path so it would be loaded eg from the wp-content/uploads directory

[2022-02-28 20:18] mattmary commented on #577
hi @mcguffin

Sorry to hear that you encounter some issues with our plugin.
I cannot reproduce this issue.
Which wordpress version do you use?
Are you in network mode?

Kind regards

Mat

[2022-03-01 09:53] mcguffin commented on #577
Hi Mat,

thanks for the reply. The issue occured on WP 5.8.2. Yesterday I upgraded to 5.9.1 where it still persists.
It's a multisite install with subdomains, but I just tried on a subdirectory installation, where it also occured.

Steps to reproduce (again but with a little more detail than before):
 - WP 5.9.1, Multisite, (it doesn't matter if Subdomain or not)
 - Matomo 4.6.0 is activated on th

[2022-03-01 20:36] mattmary commented on #577
thanks @mcguffin  I can reproduce it

[2022-03-07 08:41] mattmary opened #579 "Some words cannot be translated - Missing translations"
https://wordpress.org/support/topic/missing-text-domain-15/#post-15424711

[2022-03-07 19:19] tsteur commented on #576
Another user reported:

[2022-03-08 21:01] justinvelluppillai opened #580 "Matomo 4.8.0 has been released"
A new version has just been released. This issue is a reminder to https://github.com/matomo-org/wp-matomo/wiki/Update-core

[2022-03-11 12:46] EsperluetteDesign opened #581 "Unable to save changes"
Hi,
I want to disable export features on Matomo dashboard.
But when I go to the Live section and I check Disable the log of visits and the visitor's profile and I save, nothing happens and it is not taken into account.

[2022-03-15 04:16] jmumby opened #582 "Have a message in the UI after install saying this plugin does not track to Cloud"
There is a bit of confusion for customers when it comes to trialling cloud and Matomo for Wordpress. Users will for example install Matomo for WordPress and then mention there is no tracking in the cloud.

It would be good to have an admin notice congratulating the user on installing Matomo and that it does not track to the Cloud for example.

![image](https://user-images.githubusercontent.com/433

[2022-03-19 10:57] SaJord opened #584 "Missing data for one day when using the standard reports widget visits over time"
I am missing tracking data for one day with the standard widget visits over time in the standard report. The tracking works as I see the missing data when I set up the widget for visits over time with all continents.

<img width="749" alt="image" src="https://user-images.githubusercontent.com/101928044/159117992-07bc21c5-3ce3-4986-afa2-a29bd066fd98.png">
Der HTML code ist: https://einfach-kochen-u

[2022-03-23 19:27] nasiralamreeki opened #585 "Support New MaxMind API Key Scheme"
MaxMind is ending support for their older GeoIP API key and has a new key system please update to support the new API key endpoint

[2022-03-23 19:27] nasiralamreeki opened #586 "Provider shows ASN instead of Provider Name"
Just wanted to follow up and say the experience since changing data sources for provider info has been less than ideal. While the provider field is populating the provider data is providing the ASN handle.

Example of current scenario:

Provider: ASN-CXA-ALL-CCI-22773-RDC

Which is the handle for "Cox Communications"

The simple name Cox Communications is available through the source but Matomo fo

[2022-03-24 11:58] mattmary opened #587 "memory limit error when syncing user accounts when there is a huge number of accounts"
https://wordpress.org/support/topic/fatal-error-on-send-password-reset/#post-15490749

[2022-03-30 07:28] profmatheuspassos opened #589 "Archiving problem - workaround used, but “you might experience some minor problems”"
For three days in a row, I didn’t see any statistics or other information in the “Summary” tab (I’m using Matomo Plugin).

Followed the guidelines available here: https://matomo.org/faq/wordpress/matomo-for-wordpress-is-not-showing-any-statistics-not-archiving-how-do-i-fix-it. Used the workaround presented at the end (“define( 'MATOMO_SUPPORT_ASYNC_ARCHIVING', false );” in wp-config.php).

Now sta

[2022-04-05 15:10] Klemart3D opened #590 "node_module folder must be excluded from repository and plugin releases"
`node_module` is a dependency folder so it will not be available neither in this repository nor in the plugin releases.

You can reference the .gitignore template: [Node.gitignore](https://github.com/github/gitignore/blob/master/Node.gitignore)
`node_modules/` must be in `.gitignore` like for any other plugin node based like Gutenberg:
https://github.com/WordPress/gutenberg/blob/trunk/.gitignore#L

[2022-04-06 02:03] jmumby opened #591 "Detect the installation of multiple trackers"
We have several users that install Matomo Analytics along with wp-matomo to compare the accuracy between the two or just the features.

When this happens one (or both) tracker do not work due to multiple assignment of the `setTrackerUrl` and `setSiteID` in the _paq array.

![image](https://user-images.githubusercontent.com/4339071/161880589-08abdf4e-1edf-40fa-8b10-31842034a373.png)

Can we somehow

[2022-04-06 20:00] tsteur opened #592 "Make sure the plugin works with new WordPress 6"
see https://make.wordpress.org/core/6-0/

There will be a first release from RC1 from 3 May 2022 with the release on 24 May 2022. This means we probably need to start working on this at the latest once the first RC is out and no more features are added.

Many people will upgrade to WordPress 6 quickly so we need to make sure that everything works nicely with this version on release day (and ideall

[2022-04-10 21:04] hzqlzs opened #593 "Realtime visits seen on Dashboard but Graph is showing ZERO"
Dear Matomo support team,
honestly, I spent hours reading (and checking) your tips&tricks, looking at the different issues and could find one single issue which maybe somehow related to my situation/error in system log (see German article https://forum.matomo.org/t/matomo-install-scheint-korrekt-aber-matomo-zahlt-nichts/27978/11). So I'm now bothering you ... :-(

ISSUE: Realtime logs are showing

[2022-04-11 04:04] tsteur commented on #570
closing this one as https://github.com/matomo-org/matomo-for-wordpress/issues/580 is there

[2022-04-11 04:04] #570 closed

[2022-04-11 04:05] tsteur commented on #580
closing as we will release 4.9.0 soon

[2022-04-11 04:05] #580 closed

[2022-04-11 04:13] #478 closed

[2022-04-11 09:00] nastikali opened #594 "Automated archiving not working"
hello,
we have an issue with the automated archiving. runs well when i sync the reports manually. tried to make a few changes to wp-config but it still not doing the job. here is the system report:

				  # Errors

* Error Letzter erfolgreicher Abschluss der Archivierung: error  (Die Archivierung ist zuletzt am Donnerstag, 7. April 2022 16:37:11 erfolgreich gelaufen, also vor 3 Tage 16:18:57 )

#

[2022-04-13 01:45] justinvelluppillai opened #595 "Matomo 4.9.0 has been released"
A new version has just been released. This issue is a reminder to https://github.com/matomo-org/wp-matomo/wiki/Update-core

[2022-04-14 15:50] jdm-web opened #596 "PHP 8.0 Fatal error between matomo vendors (PHP-DI Container and PSR/Container)."
Hello.

I stumbled upon a fatal error with PHP 8.0 and matomo 4.6.0.

Here's the error :
Fatal error: Declaration of DI\Container::has($name) must be compatible with Psr\Container\ContainerInterface::has(string $id): bool

Effectively, if I look into the corresponding files :
- https://github.com/matomo-org/matomo-for-wordpress/blob/develop/app/vendor/php-di/php-di/src/Container.php#L210
- Is inco

[2022-04-17 23:59] nasiralamreeki opened #597 "Respect WordPress Time and Date Format"
Matomo for WordPress currently doesn't respect the Time and Date settings of the WordPress installed that it's installed to and instead presents date in a different format and time in military time.

[2022-04-19 06:42] mattmary commented on #593
Hi @hzqlzs

Sorry for this late answer.
Regarding your archiving issue, can you post your system report available from the menu Matomo Analytics > Diagnostics?
I don't understand your problem with your domain names. Can you clarify?
Kind regards

Mat

[2022-04-19 07:10] mattmary commented on #594
Hi @nastikali

You can try to debug the process by adding the following constant in your wp-config.php file:
`define( 'WP_DEBUG', true );`

You can also try to disable the auto archiving by adding in the same file the following constant:
`define('MATOMO_SUPPORT_ASYNC_ARCHIVING', false);`

Kind regards

Mat

[2022-04-19 07:12] mattmary commented on #596
Hi @jdm-web

You may have an incompatible plugin.
Can you share with us your system report available from the menu Matomo Analytics > Diagnostics ?

Kind regards

Mat

[2022-04-19 12:58] jdm-web commented on #596
Hi @mattmary.

Thank for your reply.

I effectively might have something incompatible in my setup, but unfortunately, I can't provide the report you requested because of the fatal error. I've tried different ways but the fatal is blocking me most of the time. I've tried on two different installs.

Still, there something I don't quite understand :

- You're using `DI\Container` objects in your code

[2022-04-19 13:21] mattmary commented on #596
Hi @jdm-web

we have a lot of installs of our plugin and no one report this issue. the di errors are always related to an incompatible plugin.
do you have one of these plugins installed?
https://matomo.org/faq/wordpress/which-plugins-is-matomo-for-wordpress-known-to-be-not-compatible-with/

they are known to generate an error.
if not, can you try to disable one by one your plugins and check if the

[2022-04-21 06:40] hzqlzs commented on #593
No problem, Mat!

I’m really happy that you’re trying to help me – even my problem description does not seem having been sufficiently clear ☹

The system report (unfortunately in German, no clue how to change to English ☹)

======== BEGIN OF REPORT ==========

                                         # Errors

* Error Letzter erfolgreicher Abschluss der Archivierung: error  (Die Archivierung ist z

[2022-04-21 08:19] mattmary commented on #593
Hi @hzqlzs

Your php version is nice.
Can you try to uninstall and reinstall the plugin? Don't forget to uncheck the ckeckbox "delete all data on uninstall" (from the menu Matomo Analytics > Diagnostics > Advanced) if you want to keep your data.
Kind regards

Mat

[2022-04-21 08:43] mattmary commented on #593
sorry the path for the option is Matomo Analytics > Settings > Advanced.

[2022-04-21 08:44] hzqlzs commented on #593
Hi Mat,

THX – I even haven’t thought doing that simple trick ☹

I’ll try to having it done tonight. Otherwise during the weekend. I’ll keep you posted!

Kind regards,

Ralf

Von: mattmary ***@***.***>
Gesendet: Donnerstag, 21. April 2022 10:20
An: matomo-org/matomo-for-wordpress ***@***.***>
Cc: hzqlzs ***@***.***>; Mention ***@***.***>
Betreff: Re: [matomo-org/matomo-for-wordpress] Realtime visi

[2022-04-25 05:49] hzqlzs commented on #593
Hi Mat,

I uninstalled and reinstalled Matoma. Unfortunately, it shows the same behaviour: Realtime visitors are shown, but no other (past) data due to missing archive ☹

I copy the system report below.

Happy to receive any further solution hints 😊

Kind regards, and have a great day!

Ralf

====== Begin of report ======

                                         # Errors

* Error Letzter erfolgre

[2022-04-25 06:53] nasiralamreeki commented on #597
@mattmary I would suggest this is a defect versus an enhancement since WordPress plugins are not supposed to override the install time locale

[2022-04-25 06:54] nasiralamreeki commented on #586
@tsteur could we get some action on this? The provider plug-in is rather useless if every-time I want to see provider data I have to manually go look up and ASN handle to determine the provider of a visitor.

[2022-04-26 08:17] mattmary opened #600 "Provide an alternate way to geolocalize in the wordpress plugin"
maxmind blocks their service usage to the russian websites. it leads to errors.
https://wordpress.org/support/topic/geolocation-broken-matomo-stopped-working/
having an alternate way to localize could solve this issue.

[2022-04-26 11:09] Findus23 commented on #600
Isn't the DB-IP database already an alternative?
https://matomo.org/faq/how-to/faq_163/

Unlike the maxmind databases they are licenced under a [Creative Commons Attribution 4.0 International License](http://creativecommons.org/licenses/by/4.0/) license and should be fine for everyone.

[2022-04-26 20:59] tsteur commented on #600
Yes, by default we use DB-IP. MaxMind is the alternative

[2022-05-03 08:58] mattmary commented on #576
the latest version of ithemes security add a rewrite rule which allow to matomo to work even if this option is checked

[2022-05-04 11:21] Blu3chip opened #603 "Matomo Analytics shows only user logs - no reporting and stats"
Hi Community,

i have a big issue using the matomo- plugin for Wordpress.
I spent days searching for a solution for my problem, and actually I found some similar cases, but no solution for it.

**Issue I have with all of my sites:**
I install Matomo Analytics for Wordpress as a Plugin. Then I activate the tracking and paste the opt_out shortcode in the privacy terms (I'm using the latest version o

[2022-05-04 18:49] wadih opened #604 "Broken UI bug on a multi-site installation"
Hi,

Original case description:

The matomo admin panel UI is broken on my multi-site installation, I can't view, filter or remove widgets, so it makes it unusable.

![2022-05-04_14-25](https://user-images.githubusercontent.com/1222066/166803827-78022024-ac36-458c-b637-f2f4f6ea22b3.png)

![2022-05-04_14-44](https://user-images.githubusercontent.com/1222066/166804363-6dac255e-409e-4d5d-9773-c688878

[2022-05-04 20:20] tsteur commented on #592
The first RC has been released few days ago

[2022-05-06 01:10] tsteur commented on #592
also created issue for our marketplace plugin https://github.com/matomo-org/matomo-marketplace-for-wordpress/issues/6

[2022-05-08 19:33] mattmary commented on #604
hi @wadih

Sorry to hear that you encounter some issues with our plugin.
Can you try these steps?
https://matomo.org/faq/troubleshooting/faq_135/

Kind regards

Mat

[2022-05-08 19:39] mattmary commented on #603
hi @Blu3chip

sorry for this late answer.
Can you share with us your system report available from the menu Matomo Analytics > Diagnostics?

Kind regards

Mat

[2022-05-08 19:53] wadih commented on #604
@mattmary Thanks for your reply. I've tried the setting in that file, unfortunately, after refreshing the page, behavior is still the same.
Note that I have another site on the same server, and matomo works well on it. So it's probably not a server-level issue.

[2022-05-11 01:39] peterhashair opened #605 "After disable_merged_assets is one, display js errors on UI"
### How to Reproduce

1. Download WordPress, and install Matomo.
2. Follow https://github.com/matomo-org/matomo-for-wordpress/wiki/Updating-Matomo-core-to-a-newer-version-within-Matomo-for-WordPress this step to update the plugin to the 4.9.1 release.

### possible change
I believe we could remove this line https://github.com/matomo-org/matomo-for-wordpress/blob/3665e6fad628d16fea27e3f2672f571e5a8

[2022-05-11 01:41] diosmosis commented on #605
My guess is that the wordpress plugin doesn't take into account the chunked javascript, ie, Manager::getPluginUmdChunks(). I'm not sure how that code would look here though...

[2022-05-11 02:05] peterhashair commented on #605
@diosmosis I modify the WordPress Plugin source header, so it has UMD in the source, but still shows errors below, when disable_merged_assert = 0.

![image](https://user-images.githubusercontent.com/3783072/167754151-e3a49af4-b103-45d9-a012-82182af8b944.png)

![image](https://user-images.githubusercontent.com/3783072/167754281-62607c63-d965-4aba-aad2-edf00e8878ee.png)

[2022-05-11 02:31] diosmosis commented on #605
"Unexpected token '<'" suggests that HTML is returned for one of the JS script requests (probably due to an error occurring in that request). I would check the response for that request (the one for the first error in your screenshot).

[2022-05-11 04:02] #576 closed

[2022-05-11 04:06] mattmary commented on #604
Hi @wadih

I cannot reproduce your bug. Do you have ad blockers installed?
Can you share with us your system report available from the menu Matomo Analytics > Diagnostics?
Kind regards

Mat

[2022-05-15 19:36] mattmary commented on #594
Hi @nastikali

Do you have an update on this issue?

Kind regards

Mat

[2022-05-15 19:55] mattmary commented on #593
Hi @hzqlzs

Sorry for this late answer.
The only explanation I can see is your php cli is in a different version of php than your web one.
Can you check with your hosting provider that your cli version of php is 7.2 or above?
Kind regards

Mat

[2022-05-15 20:00] mattmary commented on #592
@tsteur nothing to report in the ui on wordpress 6.
the unit tests succeed except for the ones which have been fixed in the pr #601

[2022-05-15 20:42] mattmary commented on #589
Hi @profmatheuspassos

Sorry for this late reply.
After disabling the async archiving process, do you have data in your reports?
I cannot reproduce the errors you have in your logs. Do you still encounter some archiving issues?
Kind regards

Mat

[2022-05-15 20:49] mattmary commented on #581
to test with the #595 new release

[2022-05-15 20:52] mattmary commented on #574
Hi @BCAUS-A

Do you still have an issue?

Kind regards

Mat

[2022-05-16 00:29] tsteur commented on #592
Awesome 👍  great to hear 🎉

[2022-05-16 01:39] justinvelluppillai opened #608 "Matomo 4.10.0 has been released"
A new version has just been released. This issue is a reminder to https://github.com/matomo-org/wp-matomo/wiki/Update-core

[2022-05-16 09:42] BCAUS-A commented on #574
Hi Mat,

thanks for your help.
The problem has solved itself. I don´t know what kind of issue it was, but Matomo is working now perfect.

Kind regards.

Alex from BCAUS

[2022-05-16 20:09] mattmary commented on #574
Hi @BCAUS-A

thank for your feedback.
I close this issue.

[2022-05-16 20:09] #574 closed

[2022-05-17 01:29] #577 closed

[2022-05-18 02:56] tsteur opened #610 "Create a new GitHub action to release new versions"
Ideally it was possible to trigger a new release using a github action.

This github action would work similar to our [github action in core](https://github.com/matomo-org/matomo/blob/4.x-dev/.github/workflows/release.yml) in the way

* that only specific users would be able to trigger a release
* it would require an input field for the version name (or it would let us select a version from a list

[2022-05-19 21:22] wadih commented on #604
@mattmary

When I tried to get the diagnostics, I was getting this error:

I found out it was related to All-in-One Event Calendar by Time.ly plugin, I think something to do with twig.

When disabling the All-In-One plugin, the Matomo > Diagnostics page works, but the bug was still not fixed. Below is the diagnostic report.

**Update:** After disabling All-in-One, and going on Matomo > Diagnostic

[2022-05-19 21:41] mattmary commented on #604
Hi @wadih

Thanks for your feedback. I'll close this topic then.

this plugin is known to be incompatible with our plugin:
https://matomo.org/faq/wordpress/which-plugins-is-matomo-for-wordpress-known-to-be-not-compatible-with/

You may encounter some errors if you let it enabled.
If you want to keep it, you can choose to switch to matomo on premise and reimport your data
https://matomo.org/matomo-

[2022-05-19 21:41] #604 closed

[2022-05-23 03:40] #579 closed

[2022-05-23 12:04] steveredden792 opened #611 "500 Internal Server Error Stopping Matomo from Running"
Hi,

I get this error when loading a page with the tracker code installed.

Stack trace:
#0 /home/veritas/public_html/wp-content/plugins/matomo/app/vendor/geoip2/geoip2/src/Database/Reader.php(203): GeoIp2\Database\Reader->getRecord('City', 'City', '84.64.199.1')
#1 /home/veritas/public_html/wp-content/plugins/matomo/app/vendor/geoip2/geoip2/src/Database/Reader.php(73): GeoIp2\Database\Reader->mod

[2022-05-25 20:02] mattmary commented on #611
Hi @steveredden792

Unfortunately there is a conflict with the 301 redirect pro plugin.
We don't have a solution for that.
You can try to migrate from the plugin to matomo on premise and migrate your data.
Kind regards

Mat

[2022-05-27 02:21] mattmary commented on #603
hi @Blu3chip

Do you still have your issue? If yes could you share with me your system report?

Kind regards

Mat

[2022-05-27 02:22] mattmary commented on #595
I close this topic due to #608

[2022-05-27 02:22] #595 closed

[2022-05-27 02:24] mattmary commented on #593
Hi @hzqlzs

Did you get a feedback from your hosting provider?

Kind regards

Mat

[2022-05-30 07:38] #608 closed

[2022-06-06 20:30] AnjaMobile opened #613 "WP DB Error: [1146]"
Hello all,

there is a bug here, although I have disabled all other plugins.

It comes to this error:

WP DB Error: [1146]

Error DB tables exist: No (Some tables may be missing: dFvSzxOkmatomo_tagmanager_container, dFvSzxOkmatomo_tagmanager_variable)

What to do?

Thanks a lot!

LG
Anja

[2022-06-07 19:33] mattmary commented on #613
Hi @AnjaMobile

it looks like all the tables have not been installed.
You can try to relaunch the setup process by removing the ./wp-content/uploads/matomo/config/config.ini.php file.
Kind regards

Mat

[2022-06-13 15:49] hideosnes opened #614 "After updating to the latest php version (8.1) the Wordpress Plugin of Matomo ceased to work properly."
After updating to the latest php version (8.1) the Wordpress Plugin of Matomo ceased to work properly.

## Expected Behavior
Outbound Links such as "Reports" and "Tag Manager" work. Other pages show an error message (below), however do show rudimentary data.

## Current Behavior
Right now the outbound links display an unformatted html version of the pages with error messages. It prints the followi

[2022-06-13 23:27] mattmary commented on #613
hi @AnjaMobile

did this solve your issue?

Kind regards

Mat

[2022-06-13 23:46] mattmary commented on #611
Hi @steveredden792

Did you make your choice?
I'm wondering if we can detect this problem in your setup? Does you 301 redirect pro plugin have a dedicated folder (And if so, which one is it)? Do you see a dedicated line in your plugins page for this plugin (Is it different from the 301 redirect plugin)?
Kind regards

Mat

[2022-06-13 23:47] #605 closed

[2022-06-13 23:48] mattmary commented on #603
Hi @Blu3chip

did you find a solution for your issue?

Kind regards

Mat

[2022-06-14 01:41] mattmary commented on #614
Hi @hideosnes

You have different errors.

the first one is related to matomo and an incompatibility with php8.1. I opened an issue on this subject on the matomo github repository. https://github.com/matomo-org/matomo/issues/19352

the second ones are related to the wordpress compatibility with php8.1. I can't do anything for that. For these warning and the first one you can disable the WP_DEBUG m

[2022-06-14 08:41] steveredden792 commented on #611
Hi Mat,

I decided to disable the 301 redirects as traffic stats are more important and fix any 404’s manually.

Thanks,

Steve

From: mattmary ***@***.***>
Sent: 14 June 2022 00:46
To: matomo-org/matomo-for-wordpress ***@***.***>
Cc: steveredden792 ***@***.***>; Mention ***@***.***>
Subject: Re: [matomo-org/matomo-for-wordpress] 500 Internal Server Error Stopping Matomo from Running (Issue #611)

[2022-06-14 20:46] mattmary opened #616 "Replace "Easy Digital Analytics" by "Easy Digital Download" in the "Enable Ecommerce" option description"
The option label contains "Easy Digital Analytics". It should contains "Easy Digital Download".
![Screenshot from 2022-06-15 08-19-23](https://user-images.githubusercontent.com/86216084/173681210-609c7b0e-e58c-465b-9ead-b116b878c401.png)

[2022-06-14 21:49] mattmary commented on #611
Hi @steveredden792

Thanks for your feedback. I'll close this issue then.
If you have time, would you mind answer my questions about the pro version of this plugin? It would let us upgrade our incompatible plugin detection system.
Kind regards

Mat

[2022-06-14 21:49] #611 closed

[2022-06-14 22:59] czr387 opened #617 "Fatal error on WordPress website caused by Matomo"
I disabled your plugin since it caused a fatal error on my WP website. While my website appeared fine, I could not access my website admin dashboard panel until I disabled Matomo from Bluehost.

Please Note: ***** in the URL below is the name of my website which I prefer to keep private. Is there some way to resolve this issue? I use Matomo Version 4.10.0

Error Details (WordPress sent me this inf

[2022-06-14 23:16] hookedbythatbook opened #618 "Critical error in Wordpress - only for Matomo plugin"
Hi,

I'm on Wordpress 6.0 and have been using Matomo for a few months now. I've had no issues with it until this morning. Some plugins have updated in the last few days, but I haven't added any new ones. Today I received the following message when I tried to look at the summary report on Wordpress:

There has been a critical error on this website. Please check your site admin email inbox for instr

[2022-06-15 00:03] mattmary commented on #618
Hi @hookedbythatbook

did you received an email which could give us more information regarding your issue?
Do you have any details in the wordpress or php log file?

Kind regards

Mat

[2022-06-15 00:07] mattmary commented on #617
Hi @czr387

Can you follow these procedure to identify which conflict you have in your wordpress?
https://matomo.org/faq/wordpress/i-have-a-problem-how-do-i-troubleshoot-and-enable-wp_debug/
I need you system report available from the menu  Matomo Analytics > Diagnostics ?

Kind regards

Mat

[2022-06-15 00:42] hookedbythatbook commented on #618
Hi, yes I did. I'll have to go look for the log files. But here is the email:

Howdy!

Since WordPress 5.2 there is a built-in feature that detects when a plugin or theme causes a fatal error on your site, and notifies you with this automated email.

In this case, WordPress caught an error with one of your plugins, Matomo Analytics - Ethical Stats. Powerful Insights..

First, visit your website (h

[2022-06-15 00:50] hookedbythatbook commented on #618
Where do I find the wordpress or php log files?

[2022-06-15 00:56] hookedbythatbook commented on #618
I found this in an error log:

[14-Jun-2022 15:16:43 UTC] PHP Fatal error:  Declaration of DI\Container::has($name) must be compatible with Psr\Container\ContainerInterface::has(string $id): bool in /home1/hookedb6/public_html/wp-content/plugins/matomo/app/vendor/php-di/php-di/src/Container.php on line 210

It was repeated several times. Well, I guess this is the same error that was mentioned in t

[2022-06-15 01:09] mattmary commented on #618
Hi,

Thanks.
I'm not able to reproduce the problem but I'm not able to install all your plugins has you may have custom and paid plugins.
Which action leads to this error?
Kind regards

Mat

[2022-06-15 01:22] hookedbythatbook commented on #618
Only when I'm in the admin side of my wordpress page and I go down to the Matomo Analysis menu. If I click on Settings, for example, I see that error. And on most of the other options as well.

The rest of the site works fine with no issues.

[2022-06-15 03:45] mattmary commented on #618
duplicate of #596

[2022-06-15 04:01] mattmary commented on #617
duplicate #596 #618

[2022-06-15 09:31] steveredden792 commented on #611
Hi Mat,

To answer your questions:-

I'm wondering if we can detect this problem in your setup?

Does you 301 redirect pro plugin have a dedicated folder (And if so, which one is it)?
***Yes, it is called 301-redirects in the wp-content/plugins directory

Do you see a dedicated line in your plugins page for this plugin (Is it different from the 301 redirect plugin)?
***If you are asking if it appe

[2022-06-15 12:00] czr387 commented on #617
An error of type E_COMPILE_ERROR was caused in line 210 of the file /home3/carolzro/public_html/wp-content/plugins/matomo/app/vendor/php-di/php-di/src/Container.php. Error message: Declaration of DI\Container::has($name) must be compatible with Psr\Container\ContainerInterface::has(string $id): bool

Matomo System report is copied in below:
				  # Matomo

* Matomo Plugin Version: 4.10.0
* Config

[2022-06-15 14:52] hookedbythatbook commented on #618
Hi, I looked at the other post with the same issue, and I don't have any of those plugins installed. Also, the Matomo plugin worked just fine with everything I have and I didn't add any new ones.

Is it possible for me, with this error, to save my Matomo data somehow and then try to reinstall the plugin? I would prefer not to lose anything already collected.

[2022-06-15 19:41] mattmary commented on #618
Hi,
You won't loose your data if your uninstall and reinstall the plugin. Just make sure you uncheck the checkbox "Delete all data on uninstall" in the Matomo Analytics > Settings > Advanced tab.
I thought initially it was related to a plugin conflict but my first tests let me think it's more a conflict in the matomo package management. I'm not able to reproduce it so far so I'm not quite sure why

[2022-06-16 12:34] czr387 commented on #617
What does this mean, do I need to take some actions? I looked at the other linked issue reports, but I am not sure if I can continue to use Matomo if it suddenly causes fatal/critical errors after using it for over a year in a stable WP environment.

[2022-06-16 15:13] hookedbythatbook commented on #618
Thanks so much! I can't access the Advanced Tab - I get the same critical error on that page. I can wait a bit.

[2022-06-16 20:46] mattmary commented on #618
Hi @hookedbythatbook

Would you mind execute this shell command on your server and copy paste the result?
`find wp-content/plugins/ -type d -name php-di`

Thanks in advance

Mat

[2022-06-16 23:32] hookedbythatbook commented on #618
Hi, I need some help executing that. I'm on a WordPress site hosted on Bluehost. Where do I go to run the command?

Thanks

[2022-06-16 23:45] mattmary commented on #618
Hi

do you have ssh access to your webserver?
If yes, run the following commands:
`ssh %mywebsitehost%
cd %mywordpresspath%
find wp-content/plugins -type d -name php-di`

if you don't have a ssh access, just run a search in your plugins directory for the name php-di.

I just want to know if you have more than one php-di folders in your plugin directory.

Kind regards

Mat

[2022-06-17 00:20] hookedbythatbook commented on #618
Hi, the search found two files:

/public_html/wp-content/plugins/matomo/app/vendor/php-di

/public_html/wp-content/plugins/matomo/app/vendor/php-di/php-di

[2022-06-17 00:24] mattmary commented on #618
Thank you

[2022-06-17 00:53] mattmary commented on #617
Hi @czr387

We have two bugs related to the package php-di.
Some plugins install a version of php-di incompatible with matomo (too old). It leads to this error. I've tried to check this is your case, but I cannot confirm as you have some paid / custom plugin I can't install.

The other problem looks like related to the matomo plugin and the way it loads some classes. It happens even if you don't h

[2022-06-17 21:47] czr387 commented on #617
There are no instances of php-di? Screenshot image attached.
![wp-content-directory](https://user-images.githubusercontent.com/107517000/174405139-531341a2-edc2-447e-839d-13c4f234d346.jpg)

[2022-06-20 11:35] bic-hsb commented on #603
hallo :) i actually have the same issue.

here is my system report  (unfortunately partly in german):
Do i need to update wordpress to fix it? Or is it because of limited max_allowed_packet size of MySQL database?

Really happy for help :)

...............................................................................................................................................................

[2022-06-20 20:39] mattmary commented on #603
Hi @bic-hsb

The log tells us that your wpo-cache plugin is responsible of this error and renders the archiving process unusable. I don't know if this is a configuration problem or a bug in this plugin.
Can you deactivate this plugin and check that your archiving process works back? You can force the archiving process from the menu Matomo Analytics > Diagnostics > Troubleshooting.
Can you try to u

[2022-06-20 21:57] justinvelluppillai commented on #610
@mattmary I will move this into the current sprint for you to start on. @sgiehl would be first point of contact for any questions, or feel free to reach out to me otherwise.

[2022-06-21 09:11] bic-hsb commented on #603
Hi Mat,

thanks a lot for your fast reply. I deactivated and checked and finally deleted the plugin, but the reporting still doesnot work (logging visitors, yes).

# Errors

* Error Letzter erfolgreicher Abschluss der Archivierung: error  (Die Archivierung wurde noch nicht erfolgreich abgeschlossen )

# Matomo

* Matomo-Plugin-Version: 4.10.0
* Config existiert und ist schreibbar.: Ja ("$abs_path/

[2022-06-21 22:37] mattmary commented on #603
Hi @bic-hsb

Can you copy paste your php error log for your php-cli?
You can find its location by using the shell command:
`php -i | grep error_log`
if you have no value, can you edit your php.ini file for your php.cli, set up a value and copy paste its content after the error happens again?
Kind regards

Mat

[2022-06-21 23:18] mattmary commented on #618
Hi @hookedbythatbook

Can you do the same thing for a different file?
`find wp-content -type f -name ContainerInterface.php`

Kind regards

Mat

[2022-06-21 23:24] mattmary commented on #617
Hi @czr387

Can you do the same thing to search for the file ContainerInterface.php?

Kind regards

Mat

[2022-06-21 23:34] mattmary commented on #596
Hi @jdm-web

Can you search your plugin folder to find how many instances of the php-di folder do you have? Can you post them?
Can you do the same search for the file ContainerInterface.php ? Do you have more than 2? Can you post them?
Kind regards

Mat

[2022-06-21 23:49] hookedbythatbook commented on #618
Hi,

It found the following:

/public_html/wp-content/plugins/updraftplus/vendor/aws/aws-sdk-php/src/ResponseContainerInterface.php

/public_html/wp-content/plugins/bluehost-wordpress-plugin/vendor/psr/container/src/ContainerInterface.php

/public_html/wp-content/plugins/wordpress-seo/vendor_prefixed/symfony/dependency-injection/ContainerInterface.php

/public_html/wp-content/plugins/wordpress-seo

[2022-06-22 08:06] Blu3chip commented on #603
**SOLVED**

This is what helped my and a college of mine, who had the same issue:
[](https://matomo.org/faq/wordpress/how-do-i-fix-the-error-missing-mysql-extension-which-is-required-by-wordpress-in-matomo-for-wordpress/)

So you have to open your wp-config.php and insert this right above the "/* stop editing, that's all! Happy publishing. */" text:
define( 'WP_DEBUG', true );
define( 'WP_DEBUG_LO

[2022-06-22 11:22] bic-hsb commented on #603
@Blu3chip  / Dear Wolfi,

thanks a lot for your hint! this worked for me as well: big hurray!

@mattmary : I attached a screenshot of the error log file, in case this helps Matomo work around the problem.
![matomo error_log](https://user-images.githubusercontent.com/107855592/175017101-9885b292-7c27-475a-8cd8-0f50f3300579.PNG)

[2022-06-22 11:32] bic-hsb commented on #603
@Blu3chip  / Dear Wolfi,

Thanxs a lot for sharing your method: This worked for me as well: BIG Hurray!

@mattmary: Here is one error log file line, in case this helps matomo work around the issue:

[Wed Jun 22 10:58:51 2022] [authz_core:error] [pid 14529] [client *] AH01630: client denied by server configuration: /var/www/wordpress/wp-content/plugins/matomo/app/plugins/CoreHome/javascripts/manife

[2022-06-26 22:29] mattmary commented on #603
Hi @Blu3chip and @bic-hsb

Good to know that disabling the asynchronous archiving process solved your issue.
If you encounter some performances issues when displaying your reports, you may have to enable back the asynchronous archiving process. We would then have to investigate further why you get an error.
I'll close this issue for now. Feel free to open a new one if you need further support.
Kin

[2022-06-26 22:29] #603 closed

[2022-06-26 22:56] #592 closed

[2022-06-26 23:18] mattmary commented on #613
hi @AnjaMobile

Without any answer, I close this issue.
Feel free  to open a new one if you need further support.
Kind regards

Mat

[2022-06-26 23:18] #613 closed

[2022-06-26 23:19] mattmary commented on #594
HI @nastikali

[2022-06-26 23:19] #594 closed

[2022-06-26 23:20] mattmary commented on #593
hi @hzqlzs

Without any answer, I close this issue.
Feel free to open a new one if you need further support.
Kind regards

Mat

[2022-06-26 23:20] #593 closed

[2022-06-26 23:21] mattmary commented on #589
Hi @profmatheuspassos

Without any answer, I close this issue.
Feel free to open a new one if you need further support.
Kind regards

Mat

[2022-06-26 23:21] #589 closed

[2022-06-26 23:22] #587 closed

[2022-06-26 23:25] mattmary commented on #581
Hi @EsperluetteDesign

Do you still encounter this bug with the new plugin release?

Kind regards

Mat

[2022-06-26 23:31] mattmary commented on #568
Hi @Pierre-Lannoy

Will you finally submit a PR or I can close this issue right now?

Kind regards

Mat

[2022-06-26 23:48] mattmary commented on #564
@tsteur I can't reproduce any more this issue with the latest version. Can I close it?

[2022-06-26 23:49] mattmary commented on #547
Hi @blicj11

Do you still have your issue?

Kind regards

Mat

[2022-06-26 23:51] mattmary commented on #528
Hi @markPostema

Without any answer, I close this issue.
Feel free to submit a new one if you require further support.

Kind regards

Mat

[2022-06-26 23:51] #528 closed

[2022-06-26 23:54] mattmary commented on #512
Hi @T-Reiter

Sorry for this late answer, I missed your reply.
Do you still have your error with the latest version of the plugin?

Kind regards

Mat

[2022-06-26 23:56] mattmary commented on #503
Hi @rhp-chiro

Without any answer, I close this topic.
Feel free to open a new one if you require further support.

Kind regards

Mat

[2022-06-26 23:56] #503 closed

[2022-06-26 23:58] mattmary commented on #479
Hi @bizramp

Can you reproduce this issue with the latest plugin version?

Kind regards

Mat

[2022-06-27 00:00] mattmary commented on #464
Hi @ylhhlyc

Can you reproduce this issue with the latest plugin version?

Kind regards

Mat

[2022-06-27 02:40] mattmary commented on #618
Hi @hookedbythatbook

Thank you.
Would you mind post the content of this file
/public_html/wp-content/plugins/bluehost-wordpress-plugin/vendor/psr/container/src/ContainerInterface.php please?
Kind regards

Mat

[2022-06-27 02:52] hookedbythatbook commented on #618
Hi, this is it:

<?php

namespace Psr\Container;

use Throwable;

/**
 * Base interface representing a generic exception in a container.
 */
interface ContainerExceptionInterface extends Throwable
{
}

Thank you so much for all your effort and time. I truly appreciate it.

[2022-06-27 03:18] mattmary commented on #618
Hi @hookedbythatbook

Thanks.
Are you sure this is the right content you pasted? I expect an interface called ContainerInterface, not ContainerExceptionInterface.

Kind regards

Mat

[2022-06-27 14:06] hookedbythatbook commented on #618
Oh, sorry, don't know what happened. Here it is:

' <?php

 declare(strict_types=1);

 namespace Psr\Container;

 /**
 ' * Describes the interface of a container that exposes methods to read its entries.
 */
 interface ContainerInterface
{
    /**
     * Finds an entry of the container by its identifier and returns it.
     *
     * @param string $id Identifier of the entry to look for.
     *

[2022-06-28 02:28] mattmary commented on #564
I'll close it then. We'll reopen a new one if this can be reproduced in the recent releases.

[2022-06-28 02:28] #564 closed

[2022-06-28 11:42] hzqlzs commented on #593
I’m sorry, Mat, I’m completely overloaded on my campsite/restaurant and haven’t had the time to take care of this subject. I’ll take care again in autumn/winter 😉

THX for your support anyway !

Kind regards,

Ralf

Von: mattmary ***@***.***>
Gesendet: Montag, 27. Juni 2022 01:20
An: matomo-org/matomo-for-wordpress ***@***.***>
Cc: hzqlzs ***@***.***>; Mention ***@***.***>
Betreff: Re: [matomo-org

[2022-06-30 20:21] labearnaise opened #620 "Probleme visite du jour"
Les statistiques du jour ne s'actualisent plus et fausse les resultats.
En revanche, les statistique du mois continuent à s'actualiser.

Pouvez vous m'aider svp ?

[2022-06-30 22:51] mattmary commented on #620
Hi @labearnaise

What leads you to the conclusion that the daily statistics are not updated?
Do you have any data in your visitors log that you do not see in your reports?
Can you copy paste your system report available from the menu Matomo Analytics > Diagnostics?
Kind regards

Mat

[2022-07-05 07:03] Glomon06 opened #621 "Data changes to 0"
hi,
I installed Matomo with the Wordpress module. I send myself monthly reports.

Once a month in the last visits report, I have a day that goes to 0 visits while in the database I have many visits.
The report of June 17 is ok but from June 18, the report indicates 0 for the day of June 8.

[2022-07-05 12:06] czr387 commented on #617
OK, I found the php-di and the ContainerInterface.php files in directories as listed below, and per attached screenshots.
/public_html/wp-content/plugins/matomo/app/vendor/php-di/php-di
/public_html/wp-content/plugins/bluehost-wordpress-plugin/vendor/psr/container/src/ContainerInterface.php
/public_html/wp-content/plugins/matomo/app/vendor/psr/container/src/ContainerInterface.php

Here are screens

[2022-07-05 23:01] mattmary commented on #617
thanks @czr387

[2022-07-06 12:08] hochhardt opened #622 "Matomo-Wordpress-Plugin: fatal error with testMinimumPhpVersion.php"
hello everyone, when i try to generate/archive the reports i get the following error message:

Matomo Archive Warnings: 'Got invalid response from API request: ?module=API&method=CoreAdminHome.archiveReports&idSite=1&period=day&date=2022-07-06&format=json&trigger=archivephp. Response was \'PHP Fatal error: Default value for parameters with a class type hint can only be NULL in $abs_path/wp-content

[2022-07-06 14:31] hochhardt opened #623 "Wordpress-Plugin fatal error in testMinimumPhpVersion.php"
hello, when we want to generate the reports we get this message:
PHP Fatal error: Composer detected issues in your platform: PHP Fatal error: Default value for parameters with a class type hint can only be NULL in $abs_path/wp-content/plugins/matomo/app/core/testMinimumPhpVersion.php on line 128
It’s running PHP 7.4 and it’s also “collecting” data.
Many thanks in advance

[2022-07-06 21:25] mattmary commented on #622
Hi @hochhardt

Can you share with us your system report available from the menu Matomo Analytics > Diagnostics?

Kind regards

Mat

[2022-07-07 03:37] mattmary commented on #621
Hi @Glomon06

I hope I did not make mistakes in the dates. Please update the following SQL query if they do not match your 0 visits data.
Could you execute this query and give me the result?

`select * from wp_matomo_archive_numeric_2022_06 where date1 = '2022-06-08' and date2 = '2022-06-08' and name = 'nb_visits'
union
select * from wp_matomo_archive_numeric_2022_05 where date1 = '2022-05-05' and

[2022-07-07 13:26] JMVision2022 opened #624 "Big issue, please help us out"
Hey guys,

i cant track any users on my site. The graph dont work. But the live-tracking works. Please help me out.

14 total errors during this script execution, please investigate and try and fix these errors. => CronArchive.php:625; CronArchive.php:618; CronArchive.php:280; Access.php:670; CronArchive.php:284; ScheduledTasks.php:332; class-wp-hook.php:305; class-wp-hook.php:331; plugin.php:524;

[2022-07-07 20:32] mattmary commented on #624
Hi @JMVision2022

You have an archiving error which explains why graphs are empty. This is confirmed by the error log you reported.

Can you copy paste the content of the line 29 of the file wp-content/plugins/woocommerce/vendor/symfony/polyfill-php80/bootstrap.php?

Can you try to reinstall your woocommerce plugin?

Kind regards

Mat

[2022-07-08 06:56] JMVision2022 commented on #624
Hi Mat,

thanks for your answer! Sorry I cant reinstall Woocommerce, because its a very big shop in different languages.

Here is the line 29, its the second:

if (!function_exists('str_contains')) {
    function str_contains(?string $haystack, ?string $needle): bool { return p\Php80::str_contains($haystack ?? '', $needle ?? ''); }
}

[2022-07-10 20:17] mattmary commented on #624
Hi @JMVision2022

Can you copy paste your system report available from the menu Matomo Analytics > Diagnostics ?
Which PHP version are you using?

Kind regards

Mat

[2022-07-10 20:29] mattmary commented on #618
Hi @hookedbythatbook

Unfortunately we can't do anything for this issue: your have two two different versions of the ContainerInterface.php file (one comiing from your bluehost plugin, one in the matomo) which are incompatible in your version of PHP.
Your bluehost plugin is loaded before the matomo one, and so this is the bluehost version which is loaded.
We have an open issue to fix this problem,

[2022-07-10 20:29] #618 closed

[2022-07-10 20:33] mattmary commented on #618
duplicate of #233

[2022-07-10 20:35] mattmary commented on #617
Hi @czr387

Unfortunately we can't do anything for this issue: your have two two different versions of the ContainerInterface.php file (one comiing from your bluehost plugin, one in the matomo) which are incompatible in your version of PHP.
Your bluehost plugin is loaded before the matomo one, and so this is the bluehost version which is loaded.
We have an open issue to fix this problem, https://g

[2022-07-10 20:35] #617 closed

[2022-07-10 20:37] hookedbythatbook commented on #618
Hi, thank you so much. I'll see what I can do and let you know if anything changes.

[2022-07-10 20:40] mattmary commented on #596
Duplicate of #233

[2022-07-10 20:40] #596 closed

[2022-07-12 09:07] my-pixels opened #628 "Error - Last Successful Archiving Completion 11 days ago"
Hello,

**I've run to this issue on one of our websites:**
"Archiving last ran successfully on Thursday 30. june 2022 9:36:45 which is 11 days 23:15:20 ago"

**Archive throug troubleshooting ends with this fatal error:**

[12-Jul-2022 08:48:50 UTC] PHP Fatal error:  Uncaught Error: Call to undefined function WpMatomo\error_log() in /home/www/website.url/www/wp-content/plugins/matomo/classes/WpMato

[2022-07-12 09:19] my-pixels commented on #628
FYI: Another website with same configuration and plugin settings works fine. Last noticeable change was switching PHP version from 8.08 to 8.1.6.

[2022-07-12 10:53] my-pixels commented on #628
Clean install and db reupload solved this problem.

[2022-07-12 10:53] #628 closed

[2022-07-13 14:41] Glomon06 commented on #621
I have the same problem for 9 july ...

[2022-07-14 23:03] mattmary commented on #621
Hi @Glomon06

thank you.

Can you also give me the result of this query?

`select * from wp_matomo_archive_numeric_2022_06 where date1 = '2022-06-07' and date2 = '2022-06-07' and name = 'nb_visits' union select * from wp_matomo_archive_numeric_2022_05 where date1 = '2022-05-04' and date2 = '2022-05-04' and name = 'nb_visits';`

Kind regards

[2022-07-15 06:59] Glomon06 commented on #621
hi
I'm french.
for the query :
<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href="file:///C:/Users/a/AppData/Local/Temp/msohtmlclip1/01/clip.htm">
<link rel=File-List

[2022-07-20 01:40] mattmary commented on #624
Hi @JMVision2022

Can you give me the output of the following shell command:
`php -v`

Kind regards

Mat

[2022-07-20 02:13] mattmary opened #629 "Add the php cli version in the system report"
This is not the first time I suspect there is a different PHP version between the webserver and the php-cli.
Ex in this issue. #624
It could be interesting to have the php-cli version displayed in the system report, it would render the support exchanges more fluid.

[2022-07-21 20:51] mattmary commented on #629
I add it to the current sprint because it will let me earn some time in the support management

[2022-07-22 01:33] mattmary commented on #621
Hi @Glomon06

In two following reports, are you able to reproduce this 0 value error at the same date? Or it happens only in the first report following this date?
Can you give me the output of this following SQL query?
`select * from wp_matomo_report where deleted = 0 \G`
wp_ is your wordpress table prefix. You should replace it by your wordpress table prfix (defined in your wp-config.php file) if

[2022-07-22 01:39] mattmary commented on #623
Hi @hochhardt

Any chances you read this previous comment?

Kind regards

Mat

[2022-07-22 01:40] mattmary commented on #629
refs #623

[2022-07-22 01:42] mattmary commented on #622
Hi @hochhardt

Any chances you read this previous comment?

Kind regards

Mat

[2022-07-22 05:36] hochhardt commented on #622
Yes – sorry for late reply

                                                                 # Errors

* Error Letzter erfolgreicher Abschluss der Archivierung: error  (Die Archivierung ist zuletzt am Mittwoch, 6. Juli 2022 05:12:26 erfolgreich gelaufen, also vor 16 Tage 00:22:58 )

# Matomo

* Matomo Pluginversion: 4.10.0

* Config existiert und ist beschreibbar.: Ja ("$abs_path/wp-content/upload

[2022-07-22 07:22] Glomon06 commented on #621
hi @mattmary ,
I think the problem recurs every month at the same time.

Result SQL query :
<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href="file:///C:/Users/a/AppDa

[2022-07-24 20:53] mattmary commented on #621
Hi @Glomon06

Thanks.
So from one month to the other you have at the same dates a 0 value for specific dates, right?

Kind regards

Mat

[2022-07-24 21:02] mattmary commented on #622
Hi @hochhardt

It looks like your php version used by your php cli is too old and does not match the php requirement for the plugin to work: you have a php 7.0.33 version.
Please contact your hosting provider to upgrade your php cli version to match the one you use in your webserver.
Alternatively, you can add in your wp-config.php file the following content to execute the archiving process from y

[2022-07-26 03:42] mattmary commented on #610
Hello @tsteur, does the github action must cover all steps defined in this wiki? https://github.com/matomo-org/matomo-for-wordpress/wiki/Updating-Matomo-core-to-a-newer-version-within-Matomo-for-WordPress

HI @sgiehl. which is the best process to test the github action without updating the main repository? Do you have a custom way to test your action updates?

[2022-07-26 07:52] sgiehl commented on #610
@mattmary I did that on a fork of the repo. That way you also have enough permissions to add possibly needed secrets yourself for testing.

[2022-07-27 11:01] tsteur commented on #610
@mattmary are you maybe referring to this guide? https://github.com/matomo-org/matomo-for-wordpress/wiki/Create-new-release
This should be updated AFAIK

[2022-07-27 19:53] mattmary commented on #610
@sgiehl thank you. I've cloned the project, pushed my branch with the .github/worflows/ folder and release.yml file but if I switch to this branch I don't see my release action in the actions tab: Is there something to do to load this workflows folder? I couldn't find something relevant in the documentation

[2022-07-27 21:28] sgiehl commented on #610
It may depend, but some actions are only visible when they exist on the current main branch

[2022-08-01 23:33] mattmary commented on #610
@tsteur
- regarding the version number can we parse it instead from the readme.txt file if it is not specified?
- I'm not sure to understand when you want to use the release password? is it a github control? or does it must match a configuration value defined in the github repository?

Regarding the second release action, I'm not sure to see the value add of this new action compared to the github

[2022-08-02 18:17] mmokrejs opened #634 "4.10.0 - Multiple SQL errors in WP syslog"
Hi,
  I installed matomo but over past few days I collected a number of error in the logs under my Wordpress 6.0.1 instance.

[matomo_errors.txt](https://github.com/matomo-org/matomo-for-wordpress/files/9244695/matomo_errors.txt)

  Indeed, I logged only a single site visit, otherwise something is broken.

   The wp-admin/admin.php?page=matomo-about shoudl include a version number, if possible.
Th

[2022-08-03 01:59] mattmary commented on #610
@tsteur

* My bad I was applying the patch on the live branch which is already patched.
I won't be able to test this patch in the action as it requires an unpatched matomo version which I don't have for now. Is it ok for you? Or there is a way to retrieve the latest release candidate branch on my local repository?

* I didn't add a control on the origin branch. like in https://github.com/matomo-or

[2022-08-03 02:33] mattmary commented on #634
Hi @mmokrejs

Thank you for your report, we investigate it.
What do you mean by

Could you share your system report available from the menu Matomo Analytics > Diagnostics?

Kind regards

Mat

[2022-08-03 20:36] justinvelluppillai opened #635 "Matomo 4.11.0 has been released"
A new version has just been released. This issue is a reminder to https://github.com/matomo-org/wp-matomo/wiki/Update-core

[2022-08-05 21:06] mmokrejs commented on #634
After installing matomo one my visit got logged, then just nothing. I don't know if I screwed something in the config or not, hard to say. Maybethe issue is mysql-5.5.16?

[matomo.txt](https://github.com/matomo-org/matomo-for-wordpress/files/9271693/matomo.txt)

[2022-08-07 20:28] #635 closed

[2022-08-08 01:36] mattmary commented on #634
Hi @mmokrejs

When you say nothing, does it means that you have no report data? Nothing updated in the visitor log?

So for now you don't have any problem anymore?

Kind regards

Mat

[2022-08-09 03:35] tsteur commented on #610
I assume we'll need to apply the patch manually- when needed - before triggering the release. This means the workflow should only release the code but not change the code . See also this comment
<img width="854" alt="image" src="https://user-images.githubusercontent.com/273120/183557713-9296d3bf-936c-4be9-9975-9b1cbb19e2f7.png">
Does it help?

Meaning we will want to remove all polyfills related a

[2022-08-10 01:52] mattmary commented on #624
Hello @JMVision2022

Maybe you did not get this previous comment notification.
Would you mind give your php cli version by using the `php -v` shell command?
Kind regards

Mat

[2022-08-10 01:54] mattmary commented on #623
Hello @hochhardt

Without any answers I close this issue.
Feel free to open a new one if you still experiment it.
Kind regards

Mat

[2022-08-10 01:54] #623 closed

[2022-08-10 01:55] mattmary commented on #622
Hi @hochhardt

Any chances you read this previous comment?

Kind regards

Mat

[2022-08-10 01:56] mattmary commented on #621
Hi @Glomon06

Any chances you read my previous comment?

Kind regards

Mat

[2022-08-10 01:57] mattmary commented on #620
Hi @labearnaise

Without any answers I close this issue.
Feel free to open a new one if you still experiment some issue with our plugin.
Kind regards

Mat

[2022-08-10 01:57] #620 closed

[2022-08-11 01:24] mattmary commented on #610
So what to want is to transform the automatic process which:
- checkout develop
- patch polyfills
- push develop
- merge develop into live
- tag a release from live

into

- checkout develop
- merge develop into live
- patch manually live with the polyfills
- push live manually
- tag manually live in a new release
?

[2022-08-11 02:19] mattmary commented on #610
So @tsteur

I remove from the action the merge into live and the patch the polyfills?

[2022-08-11 02:31] mattmary commented on #610
@tsteur I've removed the merge into live and the polyfills patch from the action.
the tag is created from the HEAD release. If it must be done otherwise, please let me know.

[2022-08-11 06:32] janhamer opened #638 "4.11.0 archive cron is stopping due to php fatal errors"
we see that on some wordpress sites the archive cron job is not executed correctly. the job is started correctly and then aborted due to php errors. this is also happening when starting the task manually.

error message in log: `PHP message: PHP Fatal error: Uncaught Error: Call to undefined function Piwik\CliMulti\getmypid() in /www/wp-content/plugins/matomo/app/core/CliMulti/Process.php:125`

ma

[2022-08-12 00:58] mattmary commented on #638
Hi @janhamer

Sorry to hear that you encounter some issues with our plugin.

Can you copy paste your system report available from the menu Matomo Analytics > Diagnostics.
Can you also explain how to reproduce this issue?
Kind regards

Mat

[2022-08-12 05:38] janhamer commented on #638
# Matomo

* Matomo-Plugin-Version: 4.11.0
* Config existiert und ist schreibbar.: Ja ("$WP_CONTENT_DIR//uploads/matomo/config/config.ini.php" )
* JS Tracker existiert und ist schreibbar.: Ja ("$WP_CONTENT_DIR//uploads/matomo/matomo.js" )
* Plugin-Verzeichnisse: Yes ([{"pluginsPathAbsolute":"\/www\/wp-content\/plugins\/matomo\/plugins","webrootDirRelativeToMatomo":"..\/"}])
* Tmp-Verzeichnis schrei

[2022-08-14 16:10] hookedbythatbook commented on #618
Just thought I'd let you know that I ended up removing the Bluehost plugin and everything is working perfectly fine now. Thanks.

[2022-08-14 19:53] mattmary opened #639 "Diagnostic URLs are not displayed properly"
See screenshot.

![Screenshot from 2022-08-15 07-52-10](https://user-images.githubusercontent.com/86216084/184552646-9e9cc6c7-9c70-452c-9eae-49823b722a1c.png)

As this is a regression, I add it to the current sprint.

[2022-08-17 02:41] mattmary commented on #638
Hello @janhamer

Thanks.
Can you explain me how you get this issue?
Kind regards

Mat

[2022-08-17 06:36] janhamer commented on #638
occurs when archiving via cron.
we have already deactivated all other plugins as a test, but this does not change the behavior.

[2022-08-17 23:53] mattmary commented on #638
Hi @janhamer

The getmypid function is disabled in your hosting.
I can't do anything for that.
Please enable it to make it work.

Kind regards

Mat

[2022-08-17 23:53] #638 closed

[2022-08-30 00:42] #610 closed

[2022-08-31 21:53] mattmary opened #640 "Be able to track categories in Matomo"
Some users like this one https://wordpress.org/support/topic/using-wordpress-tags-and-categories-in-matomo/ would love to be able to track the wordpress categories in their Matomo.
It could be nice to have a feature which allows that.

[2022-09-02 01:19] mattmary opened #641 "Wrong output header in the archive report"
see https://wordpress.org/support/topic/diagnostics-archive-reports-outputs-as-application-json/

[2022-09-05 21:03] mattmary opened #642 "Archive error when Wp-Rocket 3.12 and newer is enabled"
see https://wordpress.org/support/topic/archive-error-with-wp-rocket/
wprocket upgraded in this release Monolog to 2.0. Now we have a conflict.

refs #233
refs https://github.com/matomo-org/matomo/issues/16905

[2022-09-05 21:24] tsteur commented on #642
WP-Rocket is one of the most used WordPress plugins used on millions of sites. It means our plugin will no longer work when they are both installed at the same time.

[2022-09-07 20:08] mattmary commented on #642
Temporary workaround is to fix the wp-rocket version
https://github.com/matomo-org/matomo-for-wordpress/wiki/Downgrade-wp-rocket-to-a-version-compatible-with-the-Matomo-plugin

[2022-09-13 00:43] #614 closed

[2022-09-13 01:12] mattmary commented on #624
Hi @JMVision2022

Without any answers, I close this issue.
Feel free to open a new one if you request further support.

Kind regards

Mat

[2022-09-13 01:12] #624 closed

[2022-09-13 01:14] mattmary commented on #622
Hi @hochhardt

Without any answers, I close this issue.
Feel free to open a new one if you request further support.

Kind regards

Mat

[2022-09-13 01:14] #622 closed

[2022-09-13 01:16] mattmary commented on #621
Hi @Glomon06

Without any answers, I close this issue.
Feel free to open a new one if you request any further support.

Kind regards

Mat

[2022-09-13 01:16] #621 closed

[2022-09-13 01:19] mattmary commented on #600
@tsteur I added it to the current sprint regarding the impact for the russian users.
Feel free to move it to backlog if you think we should do.

[2022-09-13 01:22] mattmary commented on #590
Hi,

I'll close this issue, as we don't want to embed external scripts in the back-office for domain names access reasons.
But thanks for your submission, and feel free to submit others if you want to improve Matomo.

Kind regards

Mat

[2022-09-13 01:22] #590 closed

[2022-09-13 01:23] mattmary commented on #581
Hi @EsperluetteDesign

Without any answer, I close this issue.
Feel free to open a new one if you require further support.
Kind regards

Mat

[2022-09-13 01:23] #581 closed

[2022-09-13 01:26] mattmary commented on #568
Hi @Pierre-Lannoy

I close this issue.
Feel free to submit your PR when you want, we'll be happy to include it in Matomo.
Kind regards

Mat

[2022-09-13 01:26] #568 closed

[2022-09-13 01:28] mattmary commented on #547
Hi @blicj11

Without any answer, I close this issue.
Feel free to open a new one if you still require further support.
Kind regards

Mat

[2022-09-13 01:28] #547 closed

[2022-09-13 01:31] mattmary commented on #512
Hi @T-Reiter

Without any answer, I close this issue.
Feel free to open a new one if you still encounter problems with our latest plugin version.
Kind regards

Mat

[2022-09-13 01:31] #512 closed

[2022-09-13 01:33] mattmary commented on #479
Hi @bizramp

Without any answer, I close this issue.
Feel free to open a new one if you still experiment some issues.
Kind regards

Mat

[2022-09-13 01:33] #479 closed

[2022-09-13 01:35] mattmary commented on #457
Hi @dran007

Do you still experiment this issue with the latest plugin release?

Kind regards

Mat

[2022-09-13 01:36] mattmary commented on #464
Hi @ylhhlyc

Without any answer, I close this issue.
Feel free to open a new one if you still encounter some issues with the latest plugin release.
Kind regards

Mat

[2022-09-13 01:36] #464 closed

[2022-09-13 01:38] mattmary commented on #459
Hi @sciam-digitalmedien

Do you still encounter this issue?

Kind regards

Mat

[2022-09-13 01:39] mattmary commented on #458
Hello @Chardonneaur

Do you still encounter this issue with the latest plugin release?

Kind regards

Mat

[2022-09-13 01:40] mattmary commented on #457
Hi @dran007

Without any answer, I close this issue.
Feel free to open a new one if you still encounter some issues with our plugin.
Kind regards

Mat

[2022-09-13 01:40] #457 closed

[2022-09-13 01:42] mattmary commented on #453
Hello @ylhhlyc

Do you still encounter this issue with our latest plugin release?

Kind regards

Mat

[2022-09-13 01:43] mattmary commented on #442
Hi @tac-design @viba1

Do you still encounter this issue with our latest plugin release?

Kind regards

Mat

[2022-09-13 07:25] Chardonneaur commented on #458
Hi @mattmary , unfortunately, I would need to find some time to test it.

[2022-09-13 09:21] Klemart3D commented on #590
Hi @mattmary,

Why are you talking about domain names access? If you host dependencies in a specific folder (but not `node_modules`) you don't need to access to _external_ scripts because they are _internal_ (on the same domain of your plugin)… 🙄

I know you want to respect RGPD/Content Security Policies but like this you violate basic good development practices. 😕

[2022-09-13 23:17] mattmary commented on #590
Hello @Klemart3D

We don't want to use a CDN to deliver js libs, as it requires adding an external request outside the WordPress website, and we don't know what is its configuration.
For example, If we used a JS CDN for the chart.js plugin it would require to update Content Security Policies on some of the website where our plugin is installed. Can we induce a constraint on 60k websites? We have c

[2022-09-19 20:53] mattmary opened #645 "Add Ithemes security plugin "Disable PHP in Plugins" option diagnostic in the system report"
In the Ithemes security plugin there is an option under _Security > Settings > Advanced > System Tweaks_ called "**Disable PHP in Plugins**".

![Screenshot from 2022-09-20 08-51-14](https://user-images.githubusercontent.com/86216084/191114165-d70b514c-643c-4a4c-9e8e-acdee36e64b1.png)

This option must be unchecked to let Matomo works correctly.

We should add in the System report a detection of th

[2022-09-19 22:00] mattmary commented on #645
The effort to fix this is minimal, and it would save support time in requests

[2022-09-20 20:09] mattmary opened #646 "Find a solution to report if AddHandler is disabled in the Webhost configuration"
The Apache AddHandler instruction can be disabled in the Apache configuration.
It leads to 500 errors, like for this user https://wordpress.org/support/topic/internal-server-error-691/

There is a workaround https://matomo.org/faq/wordpress/how-do-i-fix-the-error-addhandler-not-allowed-here/.

But it could be nice to have a line in the System report which tells if Addhandler is allowed or not: it

[2022-09-24 12:09] NicoHood commented on #642
I also ran into this issue since 2 days ago. If I remember correct I've updated Matomo, Rank Math and the WebP Converter Plugin. Something must have caused the issue.

I tried to [follow this guide](https://matomo.org/faq/wordpress/matomo-for-wordpress-is-not-showing-any-statistics-not-archiving-how-do-i-fix-it/) and manually created the archive. The error message is, that matomo could not connect

[2022-09-24 12:55] NicoHood opened #647 "Archive fails when database connection uses environment variables in wordpress config"
Hi,
I've set my wordpress database using environment variables through the php.ini config:

[code]

This will make the archive not working anymore, as it says it cannot connect to the database. How can I fix this? I am using Matomo 4.11.0 for WordPress.

[2022-09-26 20:12] mattmary commented on #647
Hello @NicoHood

Sorry to hear that you encounter some issues with our plugin.
We'll have to investigate on this point.
As a workaround, you could try to disable the archiving process through wp-cron by adding in your wp-config.php the following content:
`if (!defined('MATOMO_SUPPORT_ASYNC_ARCHIVING')) {
    define('MATOMO_SUPPORT_ASYNC_ARCHIVING', false);
}`

Your Matomo pages will be then a bit

[2022-09-26 20:54] NicoHood commented on #647
But the error also comes when I manually hit the troubleshooting archive button. Would it make any difference then?

[2022-09-26 21:47] mattmary commented on #647
Hi @NicoHood
Yes, it will make a difference.

[2022-09-27 21:43] mattmary commented on #642
@NicoHood

Yes. I confirm. this is another issue

[2022-09-30 06:01] NicoHood commented on #647
So just to understand better: The archiving will only run when I open the statistics, not the "normal" wordpress website itself?

I am asking, because it is my production website and I want to avoid any testing there.

[2022-09-30 12:00] Sufisa opened #648 "Matomo Widget ( Visits in Real-Time ) on dashbooard"
Hi,
First of all thanks for the great service 🙂
Secondly, I have some problems implementing ( embedding, not sure what’s called technically..) a specific widget ( Visits in Real-Time ) into dashboard (/wp-admin/index.php)?

I see it’s possible to simply pin some other widgets from summary but no ”live statistic” is available there to be pinned. Could you please consider this feature ( Visits in Re

[2022-10-02 19:02] mattmary commented on #648
This feature request require a bit of work as we would have to set up a mechanism which refresh the widgets.
But it would be a nice value add for the WordPress plugin.

[2022-10-02 20:55] mattmary commented on #645
Another support request yesterday regarding this problem.

[2022-10-02 21:35] mattmary commented on #647
Hi @NicoHood

The archiving process will happen when you request a Matomo page only. Nothing will happen if you open a WordPress page.

[2022-10-03 21:11] MarjoleinM opened #649 "Issue reading data from Matomo"
HI, I cannot read my. data, so I'm taking. the steps recommended by your helpdesk (https://matomo.org/faq/wordpress/matomo-for-wordpress-is-not-showing-any-statistics-not-archiving-how-do-i-fix-it/) and when I. run the 'Archive reports' button I get there errormessages:

----------------- I did not copy all of it: but from what I can read throught the HTML the message is:
Your PHP installation app

[2022-10-03 23:23] mattmary commented on #649
Hello @MarjoleinM

Sorry to hear that you encounter some issues with our plugin.

What do you mean by "I cannot read my. data"? There is nothing displayed in your Matomo?

It looks like you have an archiving process error. It explains why you have nothing reported in your Matomo.
Unfortunately, the problem is out of this plugin scope: PHP comes with two interpreters: one for your website and one a

[2022-10-03 23:33] MarjoleinM commented on #649
Hi Mat,

I’m running my own VPS, with the help of a sys admin. So some kind of help or direction on this issue would be highly appreciated.

Kind regards,

Marjolein

[2022-10-03 23:51] mattmary commented on #649
Hi @MarjoleinM

so it will be easy to fix:
run first

`which php`

To get the PHP cli  you use.

Then use this value followed by -v option: it will give you the PHP version uses by this binary.
With this information, you'll be able to add one of the MySQL extensions to your configuration.

Kind regards

Mat

[2022-10-04 21:43] mattmary commented on #439
Hello @skrasii

Do you still encounter this issue with the latest plugin version?

Kind regards

Mat

[2022-10-04 21:53] mattmary commented on #429
Hello @bartounet16

Without any answer, I close this issue.
Feel free to open a new one if you still need support.

Kind regards

Mat

[2022-10-04 21:53] #429 closed

[2022-10-04 21:55] mattmary commented on #426
Hello @tsteur

This issue could be closed, isn't it?

[2022-10-04 21:59] mattmary commented on #377
Closing this issue as discussed previously.

[2022-10-04 21:59] #377 closed

[2022-10-04 22:00] mattmary commented on #257
Hello @evaniche

Do you still encounter this issue with the latest plugin release?

Kind regards

Mat

[2022-10-04 22:04] mattmary commented on #224
Hello @janhamer

Without any answer, I close this issue.
You can definitively copy your database from a different environment, and you'll get back your data.
If you need anything more specific, please let us know in a dedicated issue.
Kind regards

Mat

[2022-10-04 22:04] #224 closed

[2022-10-04 22:06] mattmary commented on #189
Maybe it's related to #640 ?

[2022-10-04 22:14] mattmary commented on #3
Hello @tsteur

I guess with the closed PR, we can close this issue too?

[2022-10-04 22:29] tsteur commented on #3
I think that makes sense  for now 👍

[2022-10-04 22:29] #3 closed

[2022-10-04 22:30] tsteur commented on #426
I think this wasn't done yet? This issue is about the WP Admin if they support this feature there.

[2022-10-04 23:27] mattmary commented on #426
You're right, it's not done yet: I misunderstood with another issue.
Forget it, sorry

[2022-10-04 23:37] mattmary commented on #597
@tsteur I've added the bug label instead of the enhancement one, as for me this is a (minor) bug.
Happy to discuss your definition of an enhancement and edit back if needed.

[2022-10-05 01:38] justinvelluppillai opened #650 "Matomo 4.12.1 has been released"
A new version has just been released. This issue is a reminder to https://github.com/matomo-org/wp-matomo/wiki/Update-core

[2022-10-05 19:05] mattmary commented on #648
Hello @Sufisa

Thanks, will have a look.

[2022-10-06 14:11] giorussonextre opened #651 "Call to undefined method MaxMind\Db\Reader::getWithPrefixLen() in WP plugin"
#0 /wp-content/plugins/matomo/app/vendor/geoip2/geoip2/src/Database/Reader.php(221): GeoIp2\Database\Reader->getRecord('City', 'City', '95.255.20.205')
#1 /wp-content/plugins/matomo/app/vendor/geoip2/geoip2/src/Database/Reader.php(84): GeoIp2\Database\Reader->modelFor('City', 'City', '95.255.20.205')
#2 /wp-content/plugins/matomo/app/plugins/GeoIp2/LocationProvider/GeoIp2/Php.php(128): GeoIp2\Data

[2022-10-06 18:43] mattmary commented on #651
Hello @giorussonextre

Please follow these instructions.
https://matomo.org/faq/troubleshooting/how-do-i-fix-the-error-call-to-undefined-method-maxminddbreadergetwithprefixlen/
Kind regards

Mat

[2022-10-07 09:29] giorussonextre commented on #651
Thanks Matt but this fix not working for me.
				  # Matomo

* Versione del plugin Matomo: 4.11.0
* Config esiste ed è scrivibile.: Sì ("$abs_path/wp-content/uploads/matomo/config/config.ini.php" )
* JS Tracker esiste ed è scrivibile.: Sì ("$abs_path/wp-content/uploads/matomo/matomo.js" )
* Directory del plugin: Yes ([{"pluginsPathAbsolute":"$abs_path\/wp-content\/plugins\/matomo\/plugins","webroo

[2022-10-07 16:32] mmokrejs commented on #634
Hi @mattmary ,
  I am sorry for the delay. Things are just stacking up ...

  I think Matomo seems to work although I really had to get increaed memory for CGI processes to 1024MB.

I attch the current logs here:
[matomo-errors.log.gz](https://github.com/matomo-org/matomo-for-wordpress/files/9735618/matomo-errors.log.gz)

[2022-10-10 20:40] mattmary commented on #634
Hello @mmokrejs

Thank you.
Did you set up a crontask to manage your WordPress schedule tasks, or do you use the native behaviour?
Could you please post your system report, available from the menu "Matomo Analytics > Diagnostics"?

Kind regards

Mat

[2022-10-10 21:38] mmokrejs commented on #634
Hi @mattmary ,
  no I did not install any cronjob.

[code]

[2022-10-10 23:49] mattmary commented on #634
Hello @mmokrejs

Thank you.

Everything looks fine in your system report.
Does these errors lines still happen in your debug log, or they happened only one time?

Kind regards

Mat

[2022-10-11 07:07] blicj11 commented on #547
Yes.

Nothing you have suggested has worked.

John Blickenstaff
Webmaster
Timber Lakes Property Owners Association <https://timberlakesutah.com/>

Timber Lakes - Minutes Away. A World Apart.

[2022-10-11 19:50] mattmary commented on #651
Hello @giorussonextre

Thank you for posting your system report.
I've tested your plugin list, and I've found that you embed another Reader version in the WooCommerce plugin, but this is the same one.
Unfortunately, I've not been able to test all your plugins, as you might have some custom and paid ones.
Do you have shell access on your server? Could you give me the output of the following command

[2022-10-11 19:52] mattmary opened #653 "Add in the system report the MaxMind extension existence or not"
To help in support requests like this one #651

This is related to https://matomo.org/faq/troubleshooting/how-do-i-fix-the-error-call-to-undefined-method-maxminddbreadergetwithprefixlen/

[2022-10-19 00:23] justinvelluppillai commented on #650
Hi @mattmary I have just published Matomo 4.12.1 so you can release your update when ready 👍🏽

[2022-10-19 11:23] 411x opened #654 "Declaration of DI\\Container::has($name) must be compatible with Psr\\Container\\ContainerInterface::has(string $id): bool"
Hello, I got this error with the version 4.11.0.
It was working a month ago. Maybe a plugin or wordpress was updated. No change on the environment.

`PHP Fatal error: Declaration of DI\\Container::has($name) must be compatible with Psr\\Container\\ContainerInterface::has(string $id): bool in /data/web/wp-content/plugins/matomo/app/vendor/php-di/php-di/src/Container.php on line 210',`

[code]

[2022-10-19 21:32] mattmary commented on #654
Hello @411x

Can you share with us a screenshot of the error?

Kind regards

Mat

[2022-10-20 07:16] MarjoleinM commented on #649
Hi,

My sysadmin reinstalled the mysql extension. It’s working now.
Thank you so much!

Marjolein

[2022-10-20 19:42] mattab commented on #639
Do you maybe know where the regression is from, which PR caused this regression?

[2022-10-20 19:42] mattab commented on #653
Would this be an issue for Matomo core instead of Matomo for WP, or is it just for WP?

[2022-10-20 19:44] mattab commented on #646
@mattmary I don't yet understand, how a new line in the system report, will help users and reduce support. Could you please give  an example of how and why it will help people?

[2022-10-20 19:44] mattab commented on #645
How much effort is it to add this feature? (Is it trivial to check for this?)

[2022-10-20 20:24] mattab commented on #646
Read again properly and now i understand - the message line will link to the FAQ which has the solution: https://matomo.org/faq/wordpress/how-do-i-fix-the-error-addhandler-not-allowed-here/

it is a simple & pragmatic approach, moving to current sprint :+1:

[2022-10-20 21:30] mattmary commented on #645
@mattab It might be trivial, yes.

[2022-10-20 21:31] mattmary commented on #639
I didn't check so far, sorry. Do you want me to do so?

[2022-10-20 22:08] mattmary commented on #653
The problem is related to Matomo, not the plugin. But we have definitively more risks this issue happens with the plugin.
In the plugin, we don't have access to the Matomo system check.

[2022-10-20 22:39] mattmary commented on #654
refs #233

[2022-10-20 22:40] mattmary commented on #233
Hello @tsteur

Here's how do they proceed in the yoast SEO plugin: https://yoast.com/developer-blog/safely-using-php-dependencies-in-the-wordpress-ecosystem/
They use https://web.archive.org/web/20210412151924/https://github.com/humbug/php-scoper

[2022-10-20 23:09] justinvelluppillai commented on #646
@mattab to prioritise this in next sprint as PO you would add a corresponding issue to the top of the sprint backlog in jira also

[2022-10-21 03:10] mattmary commented on #649
Hi @MarjoleinM

Excellent news!
Enjoy Analytics

Mat

[2022-10-21 03:10] #649 closed

[2022-10-21 10:13] 411x commented on #654
Here is a screenshot

![matomocrash](https://user-images.githubusercontent.com/802771/197172290-26037040-5bad-443f-b798-e791ff61e972.png)

[2022-10-21 10:17] 411x commented on #654
I have disabled all the plugins and the problem persists.

[2022-10-24 20:24] mattmary opened #656 "Memberpress ecommerce data are not reported anymore since a memberpress upgrade"
Some of our users complain that their ecommerce data are not reported any more in Matomo.
It looks like they have updated the confirmation link, which does not include any more the transaction ID:
https://github.com/matomo-org/matomo-for-wordpress/blob/58b84891cb6c09427d3d12ed1734042d3b6bf870/classes/WpMatomo/Ecommerce/MemberPress.php#L87-L89

Here's the answer of the memberpress support:

We shou

[2022-10-24 20:26] mattmary commented on #656
more information here https://secure.helpscout.net/conversation/2041094013/2944840?folderId=4753515

[2022-10-24 20:35] mattmary commented on #656
Hello @mattab, I added this issue in the current sprint as this is a regression for our Memberpress users.

[2022-10-24 21:15] mattmary commented on #654
Hello @411x

When you say that you have disabled all the plugins, do you mean that you were in a state that you had only the Matomo plugin enabled and all others plugins disabled?
Or you've tried to disabled one by one your plugins, and you did not find which one is responsible for this problem?
Kind regards

Mat

[2022-10-25 13:17] 411x commented on #654
Hello @mattmary

I deactivated the plugins one by one and retesting to see if the error persisted, until I had no plugins or themes activated. The error persisted.

I can try installing a fresh wordpress on the same server to see if that would be the environment that would generate this error.

[2022-10-25 18:58] mattmary commented on #654
Hello @411x

These errors are mostly due to a conflict with another module.

Do you have a SSH access on your webserver? Would you be able to run the following command:
`find . -type d -name php-di`
And give me the output?

Kind regards

Mat

[2022-10-26 15:43] bydesignthestore opened #657 "Archiving not working -- No traffic Data"
On Sept 6, our traffic data dropped to zero and we see no data in our reports. We see that that was the last successful archive date:

********************************
 # Errors

* Error Last Successful Archiving Completion: error  (Archiving last ran successfully on Tuesday, September 6, 2022 15:52:41 which is 49 days 23:49:12 ago )
********************************

We ran the manual Archive Data

[2022-10-26 18:38] mattmary commented on #657
Hello @bydesignthestore

Sorry to hear that you encounter some issues with our plugin.
Could you please post your system report?
Kind regards

Mat

[2022-10-26 20:09] bydesignthestore commented on #657
Pasting the report is too long - I've attached it

[Matomo System Report.txt](https://github.com/matomo-org/matomo-for-wordpress/files/9873419/Matomo.System.Report.txt)

[2022-10-26 23:17] veerjd opened #658 "Cannot open the wp-admin panel at all after activating the plugin Wordpress 5.X"
Maybe this is a known issue, but it's still major. I can't see the wp-admin panel.

Steps to reproduce:
- Be on Wordpress 5.X (not exactly sure which, but I think 5.0.X)
- Install the plugin (it took a long time. I think I had to refresh to confirm it was installed)
- Click the "Activate" button
- I got redirected to this path: wp-admin/plugins.php?activate=true&plugin_status=all&paged=1&s=

Actua

[2022-10-26 23:28] mattmary commented on #657
Hello @bydesignthestore

Thank you for system report.

It looks like you use the WP-Rocket plugin, which is in conflict with our plugin since its 3.12 release.

Unfortunately, you don't have any error message in your system report as the pull request which notify this problem has not been published so far. It will be done in the upcoming plugin release, which should be published next week. This pu

[2022-10-26 23:28] #657 closed

[2022-10-26 23:58] mattmary commented on #658
Hello @veerjd

Sorry to hear that you encounter some issues with our plugin.

Can you reproduce this problem when removing our plugin (deleting the plugin files)? Or you still have this issue after?

You got a 500 error. Can you give us the content of this error from your webserver or PHP error log?

Our plugin has been tested with the WordPress 5.x version successfully. To reproduce, I would need

[2022-10-27 12:05] veerjd commented on #658
@mattmary

I'm trying to gain access to the server and will report back if removing it fixes the issue (with server logs).

I installed your plugin from the Plugins > Add Plugins section directly from the admin dashboard.

I installed it right before posting this here.

[2022-10-27 23:58] mattmary commented on #558
Another user https://wordpress.org/support/topic/critical-wp-error-installation-fail/

[2022-10-28 14:16] its-me-dennis opened #659 "W3 Total Cache - Matomo stops working"
hi, i am not a pro, so mi issue:
if i activate w3 total cache my matomo plugin stops working  and i get a error message on my matomo dashboard
![Bildschirm­foto 2022-10-28 um 16 12 28](https://user-images.githubusercontent.com/47633825/198637220-3dbe489d-ca4c-41a5-8e76-f2b1410d13b0.png)
is there a known fix witch minify or cache option to uncheck/enable?

[2022-10-29 14:35] mpoideg opened #660 "PHP Fatal error: Uncaught Error: Call to undefined function Piwik\CliMulti\getmypid()"
Hi!
Archiving doesn't work on hosting because of security reason (getmypid won't be allowed...). I found a solved issue, where there was a bugfix if pid was not possible to get. (2019)

Should this work already? Or how can I call archiving cron (like I do it from backend-button right now) by myself with manipulating (Is the pid nessesary for the valid statistics data?) the pid as parameter?

Thank

[2022-10-29 21:53] target-lock opened #661 "Matamo archiving stopped working, get serializing error on cron"
Matamo used to work great. I tried uninstalling it and deleting all data and then reinstalling it, and that did not resolve the issue.

'' 'Error unserializing the following response from ?module=API&method=CoreAdminHome.archiveReports&idSite=1&period=day&date=2022-10-29&format=json&trigger=archivephp: \

Full Diagnostics Log:

[code]

[2022-10-31 00:19] mattmary commented on #661
Hello @target-lock

It looks like you have a content error in your tracking js.
Would you mind posting the content of your "Matomo Analytics > Settings > Tracking > Tracking code" input field?

Kind regards

Mat

[2022-10-31 00:22] #650 closed

[2022-10-31 01:28] mattmary commented on #660
Hello @mpoideg

Unfortunately, getmypid is a Matomo requirement.
May I ask you which is your hosting provider?

@tsteur, any workaround in mind? I can see that in some parts of the Matomo code we check if getmypid is available. It looks like this is not the case in this file. Do you want me to create an issue in the matomo repository?

Kind regards

Mat

[2022-10-31 01:33] tsteur commented on #660
We did some work in https://github.com/matomo-org/matomo/pull/16936 because of https://wordpress.org/support/topic/warning-getmypid-has-been-disabled/ when `getmypid` isn't available. Archiving should then still work but use HTTP as a fallback instead of the CLI command.

As far as I know you're not supposed to get such an error when `getmypid` isn't available.

[2022-10-31 02:42] mattmary commented on #660
As far as I can see, this call is made here:
https://github.com/matomo-org/matomo/blob/e4f9a638e600ada201739f17319512a32a3120a0/core/CliMulti.php#L362

And this method is only called here:
https://github.com/matomo-org/matomo/blob/e4f9a638e600ada201739f17319512a32a3120a0/core/CliMulti.php#L185

Not sure when is called this method in the plugin. Is it a WordPress only case?

[2022-10-31 10:10] mpoideg commented on #660
@mattmary: It's raidboxes - fastest wordpress-provider located here in Germany...

[2022-10-31 12:53] target-lock commented on #661
<script type="text/javascript">
var _paq = window._paq = window._paq || [];
_paq.push(['enableJSErrorTracking']);
_paq.push(['trackVisibleContentImpressions']);
_paq.push(['enableHeartBeatTimer', 30]);_paq.push(['trackPageView']);_paq.push(['enableLinkTracking']);_paq.push(['alwaysUseSendBeacon']);_paq.push(['setTrackerUrl', "\/\/XXXXXX.com\/wp-content\/plugins\/matomo\/app\/matomo.php"]);_paq.pus

[2022-10-31 22:14] mattmary commented on #660
@mattab I added to the backlog. But we may consider this is a regression as we previously work on this subject and in this case is not covered. Let you choose.

[2022-10-31 22:34] mattmary commented on #661
Hello @target-lock

Thank you.
Would you mind sharing a screenshot of your "Matomo Analytics > Settings" page? For privacy purposes, you can email it to wordpress@matomo.org instead.
Kind regards

Mat

[2022-11-01 03:12] mattmary commented on #660
@mpoideg

Thank you.
Would you mind posting your system report available from the "Matomo Analytics > Diagnostics" menu?
How do you run your WordPress crontab? With the wp-cron script? Is it called from the command line or from the browser, do you know?
Kind regards

Mat

[2022-11-01 09:41] mpoideg commented on #660
Thx Mat!

System report:

				  # Matomo

* Matomo-Plugin-Version: 4.11.0
* Config existiert und ist schreibbar.: Ja ("$abs_path/media/matomo/config/config.ini.php" )
* JS Tracker existiert und ist schreibbar.: Ja ("$abs_path/media/matomo/matomo.js" )
* Plugin-Verzeichnisse: Yes ([{"pluginsPathAbsolute":"$abs_path\/wp-content\/plugins\/matomo\/plugins","webrootDirRelativeToMatomo":"..\/"}])
* Tmp-

[2022-11-01 22:11] mattmary commented on #660
Hello @mpoideg

Thank you.
After running the archiving process from the Troubleshooting menu, and if you land on a source-code view, it means there is an error. Maybe you could email us the content of this page (wordpress@matomo.org) ?
But glad to see that your archiving allow you to get data anyway.

Kind regards

Mat

[2022-11-02 07:21] mpoideg commented on #660
Mail sent!

[2022-11-02 19:38] mattmary commented on #660
Thank you @mpoideg
https://secure.helpscout.net/conversation/2055479128/2999402?folderId=4753515

[2022-11-03 00:05] mattmary opened #663 "Add the existence of the MySQL extensions loaded in the php cli diagnostic"
I had various support requests related to an archiving problem. The problem was the used php-cli did not embed any required MySQL extensions and so the archiving process failed.
Adding a line in the system report with an appropriate FAQ redirect would reduce my support time.

[2022-11-03 19:44] mattmary opened #664 "Render the Matomo for WordPress exceptions more explicit"
In the Matomo overload made by the plugin, we send exceptions when actions have been disabled.
`throw new Exception('This feature is not available');`

https://github.com/matomo-org/matomo-for-wordpress/blob/develop/plugins/WordPress/WordPress.php

Support requests, like this one https://wordpress.org/support/topic/error-in-logs-after-update-to-latest-version/#post-16162606, are difficult to diagn

[2022-11-04 00:23] mattmary commented on #661
https://secure.helpscout.net/conversation/2057526650/3005938?folderId=4753515

[2022-11-04 00:52] mattmary commented on #661
Hello @target-lock

Thank you.

I've tried to reproduce your problem by installing your plugin list, but unfortunately, I did not get any problem. (But I've not been able to install 2 of your plugins).

Any chances you have an error message in your webserver and PHP error logs?

Could you also try to enable the WordPress debug mode?
https://matomo.org/faq/wordpress/i-have-a-problem-how-do-i-troubl

[2022-11-04 02:50] mattmary commented on #656
I've not been able to reproduce so far with MemberPress Plus 10.
Will try with the stripes API on Monday.

[2022-11-05 17:49] wpgaurav commented on #188
Did this feature get into Matomo?

[2022-11-06 20:29] mattmary commented on #188
Hello @wpgaurav

We have stopped our investigations for now, as there are some technical questions we are not able to answer for now, and the result would be limited.
Would you be interested in this feature?
Kind regards

Mat

[2022-11-06 22:06] mattmary opened #665 "Add comparison between WordPress data and Matomo data in the system report"
There are sync processes between the WordPress data and the Matomo data: the synchronised data are users accounts and some configuration values (time offset, locale, ...).
Having the difference status between these data would provide quicker answers in debugging steps.

Example of support request where this feature would be helpful.
https://wordpress.org/support/topic/disable-translations-3/

@mat

[2022-11-08 20:44] wpgaurav commented on #188
Yes. Even if there is a complicated way to do so, I'd like to know.

[2022-11-11 05:04] jmumby opened #666 "Simplify migration process to self hosted/Cloud"
Currently the process to migrate from Matomo for Wordpress to self hosted or Cloud is quite complicated.

- Install a self hosted version of Matomo
- Install the migration plugin in WP
- Configure external SQL access and user
- Gain access to console (generally not possible on hosted installs)
- Run the command with correct parameters
- dump the DB (for cloud)

Most WP users are more used to the p

[2022-11-14 19:52] mattmary opened #668 "Report in the system report if the Secupress plugin option "Yes, protect my site from bad request methods" is enabled"
This is the third time I have this kind of support requests: when activated, the archiving process fails.
We should detect it in the system report and warn users that this option is not compatible with our plugin.

@mattab This is a minimal effort and would reduce my support time.

[2022-11-15 18:58] mattmary opened #669 "The diagnostic reports wrong missing permissions"
@mattab I create this issue for history only: it's been fixed by one of our users

[2022-11-15 19:53] #669 closed

[2022-11-16 08:56] W-prog opened #670 "shortcode parameter to link pages from Matomo report"
We can use the follow shortcode : [matomo_report unique_id=Actions_getPageTitles report_date=thisyear limit=10] to show the 10 most popular pages anywhere.
Is it possible to create a parameter to create a link on each items of the result?

[2022-11-16 19:04] mattmary commented on #668
@mattab I move this issue in the current sprint as this is one of our issues in this sprint.

[2022-11-16 19:05] mattmary commented on #653
@mattab I move this issue in the current sprint as we have scheduled it

[2022-11-16 19:06] mattmary commented on #663
@mattab I move this issue in the current sprint as we have scheduled it

[2022-11-17 00:32] mattmary opened #672 "Some Matomo option are autoloaded when they should not, and it increases the plugin performance footprint"
Autoloaded options are loaded on every page.

Here's an example of our keys which are loaded on every page:
`select option_name from wp_options where autoload = 'yes' and option_name like '%matomo%;`
![Screenshot from 2022-11-17 13-28-47](https://user-images.githubusercontent.com/86216084/202324416-80c50ecd-da2a-43cf-9fc4-5cf8a2c9f9a1.png)

Some of them should not be loaded on every page. We shoul

[2022-11-17 00:53] mattmary opened #673 "Enhance the debug output when synchronizing data between WordPress and Matomo"
The plugin synchronizes users ACL, passwords, locales and times.
https://github.com/matomo-org/matomo-for-wordpress/blob/develop/classes/WpMatomo/User/Sync.php

Some of our recent support requests have shown that the synchronization process does not work:
https://wordpress.org/support/topic/disable-translations-3/#post-16162719

Adding a verbose debug log in the plugin logs would help to understan

[2022-11-17 01:31] mattmary opened #674 "Matomo email reports are not sent when using the Fluent SMTP plugin"
Some of our users complain that their email reports are not sent.
Ex: https://secure.helpscout.net/conversation/2031556060/2903544/
The status report of this person is here: https://secure.helpscout.net/conversation/2070076335/3051962?folderId=4753515
It shows that they use the Fluent SMTP plugin.

I've been able to reproduce this issue:
when setting up in this plugin a valid SMTP server (for exam

[2022-11-17 02:29] mattmary commented on #611
Hello @steveredden792

We'll release soon the Matomo 5.0 plugin version, which should fix your problem.
Just to confirm: Is it this plugin you were using ?
https://www.gpldesigners.com/product/wp-301-redirects-pro/
Kind regards

Mat

[2022-11-17 10:31] steveredden792 commented on #611
That’s the one 😊

Regards,

Steve

From: mattmary ***@***.***>
Sent: 17 November 2022 02:29
To: matomo-org/matomo-for-wordpress ***@***.***>
Cc: steveredden792 ***@***.***>; Mention ***@***.***>
Subject: Re: [matomo-org/matomo-for-wordpress] 500 Internal Server Error Stopping Matomo from Running (Issue #611)

Hello @steveredden792 <https://github.com/steveredden792>

We'll release soon the Matomo

[2022-11-18 01:24] #653 closed

[2022-11-18 01:24] #629 closed

[2022-11-18 01:24] #645 closed

[2022-11-18 01:24] #646 closed

[2022-11-18 01:24] #663 closed

[2022-11-18 01:26] mattmary commented on #661
Hello @target-lock

Any chances you read my previous message?

Kind regards

Mat

[2022-11-18 01:27] mattmary commented on #659
Hello @its-me-dennis

Any chances you read my previous message?

Kind regards

Mat

[2022-11-18 01:29] mattmary commented on #658
Hello @veerjd

Do you have any updates for us so far?

Kind regards

Mat

[2022-11-18 01:30] mattmary commented on #654
Hello @411x

Any chances you read my previous comment?

Kind regards

Mat

[2022-11-18 01:46] mattmary commented on #634
Hello @mmokrejs

Just wondering if you still have this issue with the latest plugin version?

Kind regards

Mat

[2022-11-18 01:48] mattmary commented on #673
Could help #597

[2022-11-18 01:48] mattmary commented on #665
Could help #597

[2022-11-18 02:01] veerjd commented on #658
@mattmary Turns out the server is on a really old version of PHP (5.6)

That's most likely why

[2022-11-18 02:27] mattmary commented on #459
Hi @sciam-digitalmedien

Without any answer, I close this issue.
Feel free to open a new one if you still need further assistance.

Kind regards

Mat

[2022-11-18 02:27] #459 closed

[2022-11-18 02:29] mattmary commented on #458
Hello @Chardonneaur

I'll close this issue for now.
Feel free to open a new one if still need further assistance on this subject.
Kind regards

Mat

[2022-11-18 02:29] #458 closed

[2022-11-18 02:39] mattmary commented on #442
Hello @tac-design @viba1

Without any answer, I'll close this issue.
Feel free to open a new one if you still need support.
Kind regards

Mat

[2022-11-18 02:39] #442 closed

[2022-11-18 02:42] mattmary commented on #439
Hello @skrasii

Without any answer, I close this issue.
Feel free to open a new one if you still need further support.
Kind regards

Mat

[2022-11-18 02:42] #439 closed

[2022-11-18 02:48] mattmary commented on #432
Hello @andyjdavis

Without any answer, I close this issue.
Feel free to open a new one if you still encounter some issue.
Kind regards

Mat

[2022-11-18 02:48] #432 closed

[2022-11-18 02:57] mattmary commented on #640
Refs #420

[2022-11-18 02:58] mattmary commented on #648
Closing this issue as this is a duplicate of #353

[2022-11-18 02:58] #648 closed

[2022-11-18 16:01] target-lock commented on #661
Hi Mat,

The Cronjob seems to be fixed. There was a conflict with the google analytics plugin, which I deleted.

I am getting an invalid idsite error though:

[18-Nov-2022 00:52:23 UTC] Matomo: Scheduled tasks archive data
[18-Nov-2022 01:24:17 UTC] Matomo: Apply 404 tracking changes. Blog ID: 1
[18-Nov-2022 01:24:18 UTC] Matomo: Apply 404 tracking changes. Blog ID: 1
[18-Nov-2022 01:34:34 UTC] [w

[2022-11-18 18:11] grandpaslab opened #107 "Multisite sub-sites not tracked"
When network-enabled on a multisite instance, the plugin does cause sub-sites to appear in Matomo. However, no data is logged for these. Looking at the generated tracking code, the ID for all sub-sites is 1. If it matters, our multisite is configured for subdirectories, not subdomains.

[2022-11-18 20:17] labearnaise opened #675 "Les statistique ne se mettent plus a jour"
Voici le rapport d'erreur :

archive_main | 2022-11-18 20:32:34 | 8 total errors during this script execution, please investigate and try and fix these errors. => CronArchive.php:625; CronArchive.php:618; CronArchive.php:280; Access.php:661; CronArchive.php:284; ScheduledTasks.php:332; SystemReport.php:155; SystemReport.php:220; class-wp-hook.php:308; class-wp-hook.php:332; plugin.php:517; admin.p

[2022-11-20 19:22] mattmary commented on #675
Hello @labearnaise

Thank you.
You have an archiving error which explain why your reports are not updated anymore.
It is mostly due to an incompatible plugin.
Could you post the full system report?
https://matomo.org/faq/wordpress/how-do-i-find-and-copy-the-system-report-in-matomo-for-wordpress/
Kind regards

Mat

[2022-11-20 19:39] mattmary commented on #661
Hello @target-lock

Thanks for your feedback.
Which Google Analytics plugin is it? I would like to study it and add it in our incompatible plugin list in case of.

Regarding the invalid ID site: does it concern all your tracking requests? Do you have any valid visits in your visitor log?
Could you copy and paste your "Matomo Analytics > Settings > Tracking code"?

Kind regards

Mat

[2022-11-20 19:40] mattmary commented on #658
Hello @veerjd

Unfortunately, our plugin is not compatible with this PHP version. We follow the Matomo requirements:
https://matomo.org/faq/on-premise/matomo-requirements/

The only Matomo version compatible with PHP5 is the Matomo 3 version. Unfortunately, the plugin has no version with Matomo 3.
Kind regards

Mat

[2022-11-20 21:40] mmokrejs commented on #634
Hi @mattmary ,
  yes it is still there:

[code]

[code]

[code]

[code]

[code]

[code]

[2022-11-20 21:54] veerjd commented on #658
Yeah, of course, this ticket is irrelevant

Will try to close it now, otherwise, you can

[2022-11-20 21:54] #658 closed

[2022-11-21 01:05] mattmary commented on #634
Hi @mmokrejs

Thank you.
I'm surprised that the errors are reported.
Could you post again your system report please?

[2022-11-21 05:54] mmokrejs commented on #634
[code]

[2022-11-21 19:21] micpoh opened #676 "Partial data in the WordPress widgets after switching to PHP 8.0/8.1"
I have installed Matomo with the latest version in all my projects. Up to PHP version 7.4 everything ran fine.
But now when I switch to PHP version 8.0 or 8.1, no more summaries are displayed in the Worpress dashboard. If I switch back to PHP 7.4. the display works again. I have this problem in all my projects.
What can I do?
![Matomo](https://user-images.githubusercontent.com/118197625/203140650-

[2022-11-22 14:04] holix-it-solutions opened #677 "Matomo Archive Warnings: 'Got invalid response from API request"
Hi,
Matomo Archive does not work on our website
What can I do?

See report:
`Matomo Archive Warnings: 'Got invalid response from API request: ?module=API&method=CoreAdminHome.archiveReports&idSite=1&period=day&date=2022-11-22&format=json&trigger=archivephp. Response was \'PHP Fatal error: Uncaught TypeError: count(): Argument #1 ($value) must be of type Countable|array, null given in $abs_path/wp-

[2022-11-22 20:03] mattmary commented on #676
Hello @micpoh

Strange. Can't reproduce so far.

Could you post your system report please?
https://matomo.org/faq/wordpress/how-do-i-find-and-copy-the-system-report-in-matomo-for-wordpress/

Do you also have any PHP or WordPress errors?
Any help to understand what's going on would be appreciated

Kind regards

Mat

[2022-11-22 20:09] mattmary commented on #677
Hello @holix-it-solutions

It looks like your sticky-side-buttons plugin is responsible for this error: it is loaded (but shouldn't) during the archiving process and generate a Fatal error. It might embed an incompatible version of one of our components.

You have two options:

- remove this plugin and replace it by another one
- remove our plugin and use Matomo on premise instead

Kind regards

M

[2022-11-22 20:09] #677 closed

[2022-11-22 20:18] mattmary commented on #675
Hello @labearnaise

Unfortunately, you use an incompatible version of WP-Rocket: Recently they have upgraded one of their component which is now incompatible with our version.
Upgrading our component would move the problem elsewhere only: We would be incompatible with others plugin.
We are working on a solution to fix these incompatibilities problems. The fix should be released in the next major M

[2022-11-22 20:18] #675 closed

[2022-11-22 20:40] mattmary commented on #634
Hello @mmokrejs

Just wondering if your SQL user has the CREATE TEMPORARY TABLE permission?
(In theory it should be reported in the system report, but we recently have identified there was a bug in the detection, #669, so depending on your version, the system report might not be accurate on this point).
Kind regards

Mat

[2022-11-22 20:46] mattmary commented on #660
Hello @mpoideg

Does this approach solved your issue?

Kind regards

Mat

[2022-11-23 07:01] mpoideg commented on #660
Hi @mattmary!

Thanks for asking, but unfortunately it's not the solution. Same as before.

Kind regards, Marco

[2022-11-23 21:20] thunderdw commented on #654
I was getting the same error. The conflict is with the PSR-11 container interface - `Psr\Container\ContainerInterface`, where another module is loading a newer version of `psr/container` than Matomo is.

In my case, [wp-cli/wp-cli-bundle](https://github.com/wp-cli/wp-cli-bundle) was loading `psr/container` version 2.0.2, but `php-di` only requires `psr/container:^1.0`.

The only difference between

[2022-11-23 23:21] mattmary commented on #654
Related to https://github.com/matomo-org/matomo-for-wordpress/issues/233

[2022-11-26 02:34] target-lock commented on #661
CAOS analytics plugin.
"Regarding the invalid ID site: does it concern all your tracking requests?"
Not that I am aware of. I didn't set anything up beyond the standard installation, so I don't know what it missed. Plenty of valid visits though. Tracking code pasted above.

[2022-11-29 17:33] micpoh commented on #676
Hello Mat,
I don't see any errors.
Here is the system report

				  # Matomo

* Matomo-Plugin-Version: 4.12.0
* Config existiert und ist schreibbar.: Ja ("$abs_path/wp-content/uploads/matomo/config/config.ini.php" )
* JS Tracker existiert und ist schreibbar.: Ja ("$abs_path/wp-content/uploads/matomo/matomo.js" )
* Plugin-Verzeichnisse: Yes ([{"pluginsPathAbsolute":"$abs_path\/wp-content\/plugins\/

[2022-11-30 00:33] mattmary commented on #676
Hello @micpoh

Just to be sure, when you say you have no data in your summary graphs, it means that for all of your dates you don't have data? Or you have data for some dates and for the other ones it's empty?
It looks like in your screenshot that it's only concern some specific dates?

Do you encounter any error when accessing your Matomo instance ("Matomo Analytics > Reporting" menu)?
Kind regar